<script lang="ts" setup>
import { ref, watch } from "vue";

import Timer from "./Timer.vue";

const emit = defineEmits(["focus"]);
const props = withDefaults(
  defineProps<{
    active: boolean;
    isDesktop: boolean;
  }>(),
  {
    active: false,
    isDesktop: false,
  }
);

const isFocus = ref(props.active);

const onClick = () => {
  isFocus.value = !isFocus.value;
  emit("focus");
};

watch(
  () => props.active,
  (isActive: boolean) => {
    isFocus.value = isActive;
  }
);
</script>

<template>
  <template v-if="isDesktop">
    <div class="desktop-container">
      <div class="flex items-center justify-center">
        <i class="uil uil-clock text-2xl text-red-600 mr-2"></i>
        <span class="uppercase font-bold">Pretendo ficar</span>
      </div>
      <div v-if="!isFocus" class="desktop-input" @click="onClick">
        Por quantas horas?
      </div>
      <Timer v-else />
    </div>
  </template>

  <template v-else>
    <div class="mobile-container">
      <div class="bg-white p-2 rounded-full cursor-pointer" @click="onClick">
        <button class="mobile-button" title="Buscar">
          <i class="uil uil-clock"></i>
        </button>
        <span class="mobile-input"> Selecione o período </span>
      </div>

      <div class="flex justify-center mt-2">
        <Timer v-if="isFocus" class="w-10/12" />
      </div>
    </div>
  </template>
</template>

<style lang="postcss" scoped>
.desktop-container {
  @apply hidden md:block p-2;
  width: 300px;
}

.desktop-input {
  @apply w-full p-2 rounded-full text-center bg-gray-200 text-gray-400 uppercase font-bold cursor-pointer;
  font-family: Nunito, "sans-serif";
}

.mobile-container {
  @apply md:hidden rounded-full mt-2;
}

.mobile-button {
  @apply w-7 h-7 rounded-full mr-2;
  background: var(--from-red-to-yellow);
}

.mobile-input {
  @apply w-5/6 uppercase font-bold text-gray-900;
  font-family: Nunito, "sans-serif";
}
</style>
