<script lang="ts" setup>
import { ref, watch } from "vue";

import Button from "@/components/Button/Button.vue";
import InputDefault from "@/components/Input/Default.vue";

const emit = defineEmits(['change'])

const time = ref({ start: "", end: "" });

watch(
  () => time.value,
  (newTime) => emit("change", newTime)
);
</script>

<template>
  <div class="absolute bg-white py-2 px-4 border border-gray-200 rounded-xl">
    <p class="title">Selecione o melhor período</p>

    <button
      class="button-time"
      :class="{ active: time.start === '07:00' }"
      @click="time = { start: '07:00', end: '18:00' }"
    >
      <i class="uil uil-sun text-xl"></i>
      <span> PERDIA (07:00 - 18:00) </span>
    </button>

    <button
      class="button-time"
      :class="{ active: time.start === '21:00' }"
      @click="time = { start: '21:00', end: '06:00' }"
    >
      <i class="uil uil-moon text-xl"></i>
      <span> PERNOITE (21:00 - 06:00) </span>
    </button>

    <p class="title mt-6">Ou o horário desejado</p>

    <div class="flex flex-row gap-3 mb-8 mt-2">
      <InputDefault v-model="time.start" type="time" label="Início" />
      <InputDefault v-model="time.end" type="time" label="Termino" />
    </div>

    <Button class="button-confirm">Confirmar</Button>
  </div>
</template>

<style lang="postcss" scoped>
.title {
  @apply w-full px-3 py-1 uppercase bg-red-200 text-red-500 rounded-full font-bold text-center text-sm;
}

.button-time {
  @apply w-full
  h-7
  flex
  items-center
  transition
  bg-gray-300
  hover:bg-gray-400  
  font-bold
  rounded-full
  text-gray-900
  px-3
  py-2
  my-2;
}
.button-time.active {
  @apply text-white;
  background: var(--from-red-to-yellow-90deg);
}
.button-time i {
  @apply absolute;
}
.button-time span {
  @apply text-sm mx-auto;
}

.button-confirm {
  @apply w-full h-8 mt-2 text-base uppercase;
  letter-spacing: 1px;
  background: var(--from-red-to-yellow-90deg);
}
</style>
