<script lang="ts" setup>
const id = String(Math.random());
</script>

<template>
  <div class="form-group">
    <input type="checkbox" :id="id" />
    <label :for="id"><slot /></label>
  </div>
</template>

<style lang="postcss" scoped>
.form-group {
  max-width: max-content;
  display: block;
  padding: 10px;
}
.form-group input {
  display: none;
  width: 1.25rem;
  height: 1.25rem;
}
.form-group input:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 12px;
  width: 6px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  background: transparent;
}
.form-group input + label {
  z-index: 3;
  cursor: pointer;
  padding-left: 33px;
  display: block;
  position: relative;
  height: 20px;
  font-size: 12px;
  line-height: 1.7rem;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
}
@media (min-width: 468px) {
  .form-group input + label {
    font-size: 13px;
  }
}
.form-group input + label::before {
  z-index: 2;
  top: 0;
  left: 2px;
  width: 25px;
  height: 25px;
  background: var(--from-red-to-yellow-90deg);
  display: block;
  content: "";
  position: absolute;
  border-radius: 4px;
}
.form-group input + label::after {
  z-index: 2;
  top: 2px;
  left: 4px;
  width: 21px;
  height: 21px;
  background: #fff;
  display: block;
  content: "";
  position: absolute;
  border-radius: 3px;
}
</style>
