<template>
  <div class="border-solid w-full" :class="label ? 'h-8' : 'h-12'">
    <div class="relative h-full">
      <label v-if="label" class="font-bold text-sm pl-1">
        {{ label }}
      </label>

      <span v-if="icon" class="icon">
        <i :class="icon"></i>
      </span>

      <input
        v-bind="$attrs"
        :disabled="disabled"
        :value="modelValue"
        :type="type"
        :title="title || label"
        class="input"
        :class="`
        ${label ? 'bg-gray-200 border-none p-2 text-sm' : 'text-center'}
        ${icon && 'pl-10 pr-4'}
        ${disabled && 'filter brightness-90'}`"
        @input="onInput"
        @focus="onInput"
      />
    </div>

    <transition name="slide-fade">
      <span v-if="message" class="message"> * {{ message }} </span>
    </transition>
  </div>
</template>

<script lang="ts" setup>
import { ref, watch } from "vue";

const emit = defineEmits(["update:modelValue"]);
const props = withDefaults(
  defineProps<{
    type?: string;
    title?: string;
    label?: string;
    modelValue?: string;
    icon?: string;
    validate?: (value: unknown, label: string) => string;
    disabled?: boolean;
    autoHideError?: boolean;
    validateInitialValue?: boolean;
  }>(),
  {
    type: "text",
    title: "",
    label: "",
    modelValue: "",
    icon: "",
    validate: () => "",
    disabled: false,
    autoHideError: false,
    validateInitialValue: true,
  }
);

const message = ref("");

let timeout: NodeJS.Timeout | null = null;

const handleValidate = (value: unknown) => {
  if (props.validate) {
    message.value = props.validate(value, props.label);

    if (props.autoHideError) {
      if (timeout) clearTimeout(timeout);
      timeout = setTimeout(() => {
        message.value = "";
      }, 3000);
    }
  }
};

const onInput = (event: Event) => {
  const target = event.target as HTMLInputElement;

  emit("update:modelValue", target.value);

  handleValidate(target.value);
};

if (props.validateInitialValue && props.validate) {
  handleValidate(props.modelValue);

  watch(
    () => props.modelValue,
    (newValue) => handleValidate(newValue)
  );
}
</script>

<style lang="postcss" scoped>
.message {
  @apply block text-xs
  font-semibold
  text-red-700
  rounded-md
  pl-2
  mt-1
  bg-red-300;
}

.icon {
  @apply absolute inset-y-0 left-0 flex items-center pl-3 text-2xl lg:text-3xl text-red-600;
}

.input {
  @apply w-full h-full font-medium outline-none border-4 transition rounded-xl text-gray-900;
  font-family: Montserrat, "sans-serif";
  border-color: var(--color-red);
}

.input::placeholder {
  @apply font-bold text-gray-900 uppercase;
}
</style>
