<script lang="ts" setup>
import { ref, watch } from "vue";

const emit = defineEmits(["focus"]);
const props = withDefaults(
  defineProps<{
    active: boolean;
    isDesktop: boolean;
  }>(),
  {
    active: false,
    isDesktop: false,
  }
);

const input = ref("");
const isFocus = ref(props.active);
const places = ref<string[]>([]);

const updatePlaces = () => {
  if (!input.value) {
    places.value = [];
  } else {
    places.value = [
      "Montes Carlos - MG",
      "Monte Verde - MG",
      "Monteiro Lobato - SP",
    ];
  }
};

const onFocusIn = () => {
  emit("focus");
  isFocus.value = true;
};

watch(
  () => input.value,
  () => {
    if (props.isDesktop) updatePlaces();
  }
);

watch(
  () => props.active,
  (isActive: boolean) => {
    isFocus.value = isActive;
  }
);
</script>

<template>
  <template v-if="isDesktop">
    <div class="desktop-container">
      <div class="flex items-center justify-center">
        <i class="uil uil-map-marker text-2xl text-red-600 mr-2"></i>
        <span class="uppercase font-bold">Estou em</span>
      </div>
      <input
        @focusin="onFocusIn"
        class="desktop-input"
        placeholder="Qual sua localização?"
        v-model="input"
      />
    </div>
    <div v-if="isFocus" class="desktop-places-container">
      <button v-for="place in places" class="place">
        <i class="places-button uil uil-location-point"></i>
        <span>{{ place }}</span>
      </button>
    </div>
  </template>

  <template v-else>
    <div class="mobile-container">
      <button class="mobile-button" title="Buscar" @click="updatePlaces">
        <i class="uil uil-search"></i>
      </button>
      <input
        @focusin="onFocusIn"
        class="mobile-input"
        placeholder="Qual sua localização?"
        v-model="input"
      />
    </div>
    <div v-if="isFocus" class="mobile-places-container">
      <button v-for="place in places" class="place">
        <i class="places-button uil uil-location-point"></i>
        <span>{{ place }}</span>
      </button>
    </div>
  </template>
</template>

<style lang="postcss" scoped>
/*DESKTOP*/
.desktop-container {
  @apply hidden md:block p-2;
  width: 300px;
  z-index: 1;
}

.desktop-input {
  @apply w-full focus:outline-none p-2 rounded-full text-center bg-gray-200;
}
.desktop-input,
.desktop-input::placeholder {
  @apply uppercase font-bold font-nunito;
}

.desktop-places-container {
  @apply hidden md:block absolute mt-4 left-0 right-0 top-20 z-10;
}

/*MOBILE*/

.mobile-container {
  @apply flex md:hidden p-2 bg-white rounded-full mt-2 z-10;
}

.mobile-button {
  @apply w-7 h-7 rounded-full mr-2;
  background: var(--from-red-to-yellow);
}

.mobile-input {
  @apply w-5/6 focus:outline-none;
}
.mobile-input,
.mobile-input::placeholder {
  @apply uppercase font-bold text-gray-900 font-nunito;
}

.mobile-places-container {
  @apply block md:hidden mt-4 left-0 right-0 z-10;
}

.place {
  @apply w-full sm:w-full flex items-center mt-2 bg-white rounded-2xl p-2 shadow-xl text-gray-900 font-bold uppercase hover:bg-gray-200 transition;
}
.places-button {
  @apply flex items-center justify-center w-10 h-9 mr-3 shadow-md rounded-xl text-2xl text-red-600 bg-pink-300;
}
</style>
