<script lang="ts" setup>
import CardSuiteView from "@/components/Card/SuiteView/Index.vue";
import FooterDefault from "@/components/Footer/Default.vue";
</script>

<template>
  <div class="wrapper">
    <CardSuiteView />

    <FooterDefault class="hidden lg:flex container-xl py-4 mx-auto" />
  </div>
</template>

<style lang="postcss" scoped>
@media (min-width: 1024px) {
  .wrapper {
    background: var(--from-red-to-yellow-90deg);
  }
}
</style>
