<script lang="ts" setup>
withDefaults(
  defineProps<{
    icon?: string;
    showIconIfSm?: boolean;
  }>(),
  {
    icon: "",
    showIconIfSm: false,
  }
);
</script>

<template>
  <button
    class="
      w-44
      lg:w-56
      h-12
      text-white
      font-bold
      rounded-full
      text-xl
      shadow-md
      transition
      filter
      font-nunito
      bg-gradient-to-b
      from-red-600
      to-yellow-600
      filter
      hover:brightness-90
    "
  >
    <i
      v-if="icon"
      :class="`${icon} ${showIconIfSm ? 'hidden sm:block' : ''}`"
    ></i>
    <slot />
  </button>
</template>
