<template>
  <button title="Buscar">
    <i class="uil uil-search"></i>
    <slot />
  </button>
</template>

<style lang="css" scoped>
button {
  @apply w-32 h-auto text-5xl text-white shadow-md transition bg-gradient-to-r from-yellow-600 to-red-600 shadow-md
  filter hover:brightness-90;
  border-radius: 0 16px 16px 45px;
}
</style>
