<template>
  <button
    class="
      w-44
      h-10
      font-bold
      bg-transparent
      rounded-md
      text-transparent text-xl
      border-gradient
      filter
      transition
      hover:brightness-90
    "
  >
    <span class="bg-clip-text bg-gradient-to-br from-red-600 to-yellow-600">
      Ver mais
    </span>
  </button>
</template>

<style lang="css" scoped>
.border-gradient {
  @apply rounded-xl border-4 border-transparent;
  background: linear-gradient(white, white) padding-box,
    var(--from-red-to-yellow-90deg) border-box;
}
</style>
