<template>
  <button>
    <slot />
  </button>
</template>

<style lang="css" scoped>
button {
  @apply w-full h-12 text-xl sm:text-2xl rounded-xl font-bold text-white font-nunito;
  background-image: var(--from-blue-to-light);
}
</style>
