<script lang="ts" setup>
withDefaults(
  defineProps<{
    to: string;
  }>(),
  {
    to: "",
  }
);
</script>

<template>
  <router-link
    :to="to"
    class="
      flex
      items-center
      justify-center
      w-12
      h-12
      sm:w-14 sm:h-14
      bg-white
      transition
      hover:bg-gray-300
      rounded-full
    "
  >
    <img
      class="w-4 h-6"
      src="../../assets/icons/arrow-gradient.webp"
      alt="Flecha"
    />
  </router-link>
</template>
