<script lang="ts" setup>
import Button from "@/components/Button/Button.vue";

const emit = defineEmits(["nextAs"]);
const props = withDefaults(
  defineProps<{
    active: boolean;
    toggle: Function;
  }>(),
  {
    active: false,
    toggle: () => null,
  }
);

const nextAsGhost = () => {
  emit("nextAs", "ghost");
  props.toggle();
};

const nextAsUser = () => {
  emit("nextAs", "user");
  props.toggle();
};
</script>

<template>
  <div
    class="
      modal
      transition-opacity
      z-50
      fixed
      w-full
      h-full
      top-0
      left-0
      flex
      items-center
      justify-center
    "
    :class="!active && 'opacity-0 pointer-events-none'"
  >
    <div
      @click="() => toggle()"
      class="absolute w-full h-full bg-gray-900 opacity-50 modal-overlay"
    ></div>

    <div
      class="
        w-11/12
        sm:w-auto
        z-50
        mb-20
        sm:mb-0
        mx-auto
        overflow-y-auto
        bg-white
        rounded
        shadow-lg
        modal-container
        rounded-3xl
      "
    >
      <div class="flex flex-col items-center gap-8 p-4">
        <img
          style="margin-top: -30px"
          src="../../assets/img/angel.webp"
          alt="Anjo"
        />

        <div class="text">
          <p>Mãos ao alto!</p>
          <p>Como deseja prosseguir?</p>
        </div>

        <div>
          <Button class="login-btn" @click="nextAsUser">
            Entrar com minha conta
          </Button>

          <Button class="skip-btn" @click="nextAsGhost">
            Continuar sem login
          </Button>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="postcss" scoped>
.text {
  @apply w-11/12 font-bold bg-white p-2 uppercase mx-auto;
  color: var(--color-red);
  border-left: 4px solid var(--color-red);
  margin-top: -30px;
}

.login-btn,
.skip-btn {
  @apply w-full rounded-xl text-xl h-10;
}
.login-btn {
  background: var(--from-red-to-yellow-90deg);
}
.skip-btn {
  @apply w-full  rounded-xl text-xl mt-2;
  background: var(--from-blue-to-light);
}
</style>
