<script lang="ts" setup>
import { useRouter } from "vue-router";

import Button from "@/components/Button/Button.vue";
import InputDefault from "@/components/Input/Default.vue";

const props = withDefaults(
  defineProps<{
    active: boolean;
    toggle: () => unknown;
  }>(),
  {
    active: false,
    toggle: () => null,
  }
);

const router = useRouter();

const goToRegister = () => {
  router.push({ name: "Register" });
  props.toggle();
};
</script>

<template>
  <div
    class="
      modal
      transition-opacity
      z-50
      fixed
      w-full
      h-full
      top-0
      left-0
      flex
      items-center
      justify-center
    "
    :class="!props.active && 'opacity-0 pointer-events-none'"
  >
    <div
      @click="() => props.toggle()"
      class="absolute w-full h-full bg-gray-900 opacity-50 modal-overlay"
    ></div>

    <div
      class="
        w-11/12
        sm:w-auto
        z-50
        mb-16
        sm:mb-0
        mx-auto
        overflow-y-auto
        bg-white
        rounded
        shadow-lg
        modal-container
        rounded-3xl
      "
    >
      <div class="flex flex-col items-center gap-6 p-4">
        <img
          class="h-40 sm:h-60"
          src="../../assets/img/angel-heart.webp"
          alt="Anjo"
        />

        <p class="title">Olá... Já nos conhecemos?</p>

        <div class="inputs">
          <InputDefault label="Email" type="email" />
          <InputDefault label="Senha" type="password" />
        </div>

        <div class="w-full flex flex-col gap-2 px-1">
          <Button class="btn"> Fazer login </Button>
          <div class="flex gap-2">
            <Button showIconIfSm icon="uil uil-google" class="btn-transparent">
              <span class="text-xs"> Entrar com Goggle </span>
            </Button>
            <Button showIconIfSm icon="uil uil-apple" class="btn-transparent">
              <span class="text-xs"> Entrar com Apple ID </span>
            </Button>
          </div>
          <Button @click="goToRegister" class="btn"> Criar uma conta </Button>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="postcss" scoped>
.title {
  @apply uppercase text-center text-lg sm:text-xl font-bold mb-6;
  color: var(--color-red);
}
.inputs {
  @apply w-11/12 h-32 flex flex-col gap-8 font-bold bg-white pl-2 uppercase mx-auto;
  color: var(--color-red);
  border-left: 4px solid var(--color-red);
  margin-top: -30px;
}

.btn {
  @apply w-full h-10 rounded-xl text-xl !important;
  background: var(--from-red-to-yellow-90deg);
}

.btn-transparent {
  @apply w-full h-10 flex items-center justify-around rounded-xl !important;
  color: var(--color-red);
  border: 3px solid var(--color-red);
  background: transparent;
}
</style>
