<script lang="ts" setup>
import { ref } from "vue";
import { useRouter } from "vue-router";

import Filter from "@/components/Filters.vue";
import InputDefault from "@/components/Input/Default.vue";
import Extra from "@/components/Extra.vue";
import FooterDefault from "@/components/Footer/Default.vue";
import Pagination from "@/components/Pagination.vue";
import NextButton from "@/components/Button/NextButton.vue";

import { getIntegerAndFloat } from "@/utils";

const router = useRouter();
const products = ref<{ [id: string]: { amount: number; price: number } }>({});
const totalFormatted = ref(getIntegerAndFloat(0));

const changeProductAmount = ({
  id,
  amount,
  price,
}: {
  id: number;
  amount: number;
  price: number;
}) => {
  products.value[id] = { amount, price };

  const newTotal = Object.values(products.value).map(
    (p) => p.price * p.amount
  )[0];

  totalFormatted.value = getIntegerAndFloat(newTotal);
};

const onClick = () => {
  router.push({ name: "Resume" });
};
</script>

<template>
  <div
    class="sm:px-10"
    style="min-height: 100vh; background: var(--from-red-to-yellow-90deg)"
  >
    <div class="container-xl py-4">
      <p class="hidden md:block title">
        ANTES DE FINALIZARMOS... GOSTARIA DE UM ACRÉSCIMO?
      </p>
      <p class="block rounded-full md:hidden title">
        VAMOS APIMENTAR AS COISAS?
      </p>
    </div>

    <Filter
      initial-field="popular"
      :fields="[
        {
          label: 'populares',
          id: 'popular',
        },
        {
          label: 'romântico',
          id: 'romantic',
        },
        {
          label: 'alimentação',
          id: 'food',
        },
        {
          label: 'bebidas',
          id: 'drinks',
        },
        {
          label: 'picante',
          id: 'spicy',
        },
      ]"
    />

    <div
      class="
        container-xl
        w-full
        h-full
        sm:w-11/12
        bg-gray-100
        p-4
        h-10
        sm:rounded-2xl
      "
    >
      <InputDefault
        class="
          pr-4
          border-none
          focus:border-red-600 focus:ring focus:ring-red-500
        "
        icon="uil uil-search"
        placeholder="INSIRA O QUE PROCURA AQUI"
      />

      <div
        class="
          grid
          xl:grid-cols-2
          justify-center
          gap-4
          overflow-y-scroll
          mt-4
          pr-4
        "
        style="max-height: 600px"
      >
        <template v-for="i in 7" :key="i">
          <Extra
            @change-amount="changeProductAmount"
            :id="i"
            title="Balde de Champagne"
            description="Balde com gelo, 2 taças e 01 garrafa de Chandon."
            :price="50"
            image="https://www.bancadoramon.com.br/media/catalog/product/k/i/kit-6-champagne-veuve-clicquot-brut-1-balde-trendy.jpg"
          />
        </template>
      </div>
    </div>

    <Pagination class="py-4" :current="1" :total="10" />

    <div class="container-xl flex flex-row gap-4 px-2 sm:px-0 pb-6">
      <div
        class="
          flex
          items-center
          w-max
          uppercase
          text-xl
          sm:text-2xl
          font-bold
          bg-white
          py-1.5
          px-3
          rounded-xl
        "
      >
        <span class="hidden sm:block">total</span>
        <span class="hidden sm:block color-blue mr-2">:</span>
        <span class="block sm:hidden mr-2">
          <i class="color-blue text-2xl uil uil-calculator"></i>
        </span>
        <span class="color-blue">R$</span>
        <span>{{ totalFormatted.integer }}</span>
        <span class="color-blue">,</span>
        <span>{{ totalFormatted.float }}</span>
      </div>
      <NextButton @click="onClick">Prosseguir</NextButton>
    </div>

    <FooterDefault class="hidden lg:block container-xl pb-10" />
  </div>
</template>

<style lang="postcss" scoped>
.title {
  @apply w-full md:w-max mx-auto text-center py-4 px-4 text-lg sm:text-xl lg:text-3xl font-bold md:rounded-xl;
  color: var(--color-red);
  background-color: var(--color-pink);
}
.color-blue {
  color: var(--color-blue);
}
</style>
