<script lang="ts" setup>
import { ref } from "vue";
import { useRouter } from "vue-router";

import InputDefault from "@/components/Input/Default.vue";
import FooterDefault from "@/components/Footer/Default.vue";
import NextButton from "@/components/Button/NextButton.vue";
import Filter from "@/components/Filters.vue";
import ContentImage from "@/components/ContentImage.vue";
import Pix from "@/components/Payment/Pix.vue";
import Credit from "@/components/Payment/Credit.vue";
import ModalIdentification from "@/components/Modals/Identification.vue";
import ModalLogin from "@/components/Modals/Login.vue";

const router = useRouter();
const paymentMethod = ref("credit");

const paymentMethods = [
  { id: "credit", label: "Crédito" },
  { id: "debt", label: "Débito" },
  { id: "pix", label: "PIX" },
];

const modalIdentificationActive = ref(false);
const modalIdentificationToggle = () => {
  modalIdentificationActive.value = !modalIdentificationActive.value;
};

const modalLoginActive = ref(false);
const modalLoginToggle = () => {
  modalLoginActive.value = !modalLoginActive.value;
};

const changePaymentMethod = (newMethod: string) => {
  paymentMethod.value = newMethod;
};

const handleSubmit = () => {
  modalIdentificationToggle();
};

const redirectToPayment = () => {
  router.push({ name: "Finally" });
};

const nextAs = (method: string) => {
  if (method === "user") modalLoginToggle();
  else if (method === "ghost") redirectToPayment();
};
</script>

<template>
  <ModalIdentification
    @nextAs="nextAs"
    :active="modalIdentificationActive"
    :toggle="modalIdentificationToggle"
  />

  <ModalLogin :active="modalLoginActive" :toggle="modalLoginToggle" />

  <div
    class="px-4 sm:px-10 pt-6"
    style="min-height: 100vh; background: var(--from-red-to-yellow-90deg)"
  >
    <ContentImage
      image-max-height="230"
      title="Informações de pagamento"
      image="https://www.guiademoteis.com.br/imagens/suites/big/2085_big_4335_1.jpg"
    >
      <div class="flex flex-col justify-between gap-8 mt-3">
        <div class="flex justify-between gap-3">
          <InputDefault label="Nome" />
          <InputDefault label="Sobrenome" />
        </div>
        <div class="flex flex-col sm:flex-row justify-between gap-8 sm:gap-3">
          <InputDefault type="email" label="Email" />
          <InputDefault type="email" label="Confirmação de Email" />
        </div>
        <div class="mt-3">
          <Filter
            style="width: 100%; padding: 0; margin: 0 auto"
            initial-field="credit"
            :fields="paymentMethods"
            @change="changePaymentMethod"
          />
        </div>
      </div>
    </ContentImage>

    <div class="container-xl flex justify-center mt-4">
      <div class="w-full" :class="paymentMethod !== 'credit' && 'hidden'">
        <Credit type="credit" />
      </div>
      <div class="w-full" :class="paymentMethod !== 'debt' && 'hidden'">
        <Credit type="debt" />
      </div>
      <Pix v-if="paymentMethod === 'pix'" />
    </div>

    <div class="flex flex-row gap-4 px-2 sm:px-0 pt-4 pb-6">
      <NextButton @click="handleSubmit">Prosseguir</NextButton>
    </div>

    <FooterDefault class="hidden lg:block container-xl pb-10" />
  </div>
</template>

<style lang="postcss" scoped></style>
