<script lang="ts" setup>
import { Swiper, SwiperSlide } from "swiper/vue";
import SliderView from "@/components/SliderView.vue";
import ButtonViewMore from "@/components/Button/ButtonViewMore.vue";
import Comment from "@/components/Comment.vue";

import { swiperMouseEvent } from "@/utils";

const labels = [
  "Localização",
  "Custo benefício",
  "Limpeza",
  "Ambiente",
  "Conforto",
  "Privacidade",
];

const categories = [
  {
    label: "Localização",
    value: 9,
  },
  {
    label: "Ambiente",
    value: 9,
  },
  {
    label: "Custo Benefício",
    value: 10,
  },
  {
    label: "Conforto",
    value: 10,
  },
  {
    label: "Limpeza",
    value: 10,
  },
  {
    label: "Privacidade",
    value: 10,
  },
];
</script>

<template>
  <div class="container-xl">
    <div class="lg:flex items-center justify-between gap-10">
      <div
        class="
          lg:flex
          flex-col
          items-center
          lg:bg-white lg:w-max lg:p-4
          rounded-2xl
        "
      >
        <div
          class="
            flex
            justify-around
            items-center
            flex-col
            md:flex-row
            gap-4
            py-6
          "
        >
          <div class="flex flex-col items-center gap-2">
            <img
              class="w-13 h-10 lg:w-28 lg:h-20"
              src="../../../assets/icons/heart.svg"
              alt="Icone"
            />
            <div class="font-bold text-base lg:text-2xl">
              <span>9.5</span>
              <span class="mx-1" style="color: var(--color-blue)">/</span>
              <span>10.0</span>
            </div>
          </div>

          <div
            class="grid grid-cols-2 md:grid-cols-3 items-center gap-3 lg:hidden"
          >
            <template v-for="label in labels" :key="label">
              <div class="w-max text-sm">
                <span
                  class="
                    inline-block
                    w-12
                    h-10
                    font-bold
                    text-center
                    rounded-lg
                    text-base
                    p-2
                    mr-2
                  "
                  style="background: var(--color-pink)"
                >
                  9.0
                </span>
                <span class="font-semibold">{{ label }}</span>
              </div>
            </template>
          </div>
        </div>

        <hr />

        <div
          class="
            flex
            items-center
            justify-center
            flex-wrap
            lg:flex-col
            gap-2
            py-3
            font-bold
            text-xs
          "
        >
          <div class="feedback">
            <svg
              width="19"
              height="17"
              viewBox="0 0 19 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.32135 8.01495C5.5747 5.08863 7.65585 4.05044 9.36116 4.05044C10.5317 4.05044 11.6157 4.50314 12.3339 5.23283C12.5478 5.01507 12.8031 4.83287 13.0751 4.66755C13.0798 4.4513 13.0895 4.23657 13.07 4.01264C12.7025 -0.252903 7.65089 0.186465 6.83938 2.6138C6.02983 0.186364 0.977214 -0.253004 0.609843 4.01254C0.213577 8.6155 4.85387 11.6105 6.36305 12.4594C5.63589 11.1949 5.17522 9.71301 5.32135 8.01495Z"
                fill="url(#paint0_linear_233:2937)"
              />
              <path
                d="M18.5617 8.0878C18.1942 3.82225 13.144 4.26222 12.3325 6.68895C11.5205 4.26212 6.46949 3.82225 6.10086 8.0878C5.62987 13.5751 12.3325 16.7903 12.3325 16.7903C12.3325 16.7903 19.0355 13.5751 18.5617 8.0878Z"
                fill="url(#paint1_linear_233:2937)"
              />
              <defs>
                <linearGradient
                  id="paint0_linear_233:2937"
                  x1="2.73655"
                  y1="8.8475"
                  x2="17.8835"
                  y2="8.8475"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop offset="0.224429" stop-color="#0A9EF7" />
                  <stop offset="1" stop-color="#162CF7" />
                </linearGradient>
                <linearGradient
                  id="paint1_linear_233:2937"
                  x1="8.22995"
                  y1="13.0993"
                  x2="23.3924"
                  y2="13.0993"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop offset="0.224429" stop-color="#0A9EF7" />
                  <stop offset="1" stop-color="#162CF7" />
                </linearGradient>
              </defs>
            </svg>

            <span>500 visitas</span>
          </div>

          <div class="feedback">
            <svg
              width="16"
              height="15"
              viewBox="0 0 16 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8.14332 0.169434C3.87873 0.169434 0.4092 3.29196 0.4092 7.13014C0.4092 8.47175 0.833546 9.77135 1.63841 10.8951C1.48605 12.5804 1.07769 13.8315 0.484737 14.4242C0.406365 14.5026 0.386772 14.6224 0.43627 14.7214C0.480097 14.8099 0.570328 14.8643 0.667004 14.8643C0.678863 14.8643 0.690722 14.8635 0.702839 14.8617C0.80725 14.847 3.23267 14.4979 4.98703 13.4853C5.98318 13.8872 7.0443 14.0909 8.14332 14.0909C12.4079 14.0909 15.8774 10.9683 15.8774 7.13014C15.8774 3.29196 12.4079 0.169434 8.14332 0.169434ZM4.53406 8.16136C3.96535 8.16136 3.50285 7.69886 3.50285 7.13014C3.50285 6.56143 3.96535 6.09893 4.53406 6.09893C5.10278 6.09893 5.56528 6.56143 5.56528 7.13014C5.56528 7.69886 5.10278 8.16136 4.53406 8.16136ZM8.14332 8.16136C7.5746 8.16136 7.1121 7.69886 7.1121 7.13014C7.1121 6.56143 7.5746 6.09893 8.14332 6.09893C8.71204 6.09893 9.17454 6.56143 9.17454 7.13014C9.17454 7.69886 8.71204 8.16136 8.14332 8.16136ZM11.7526 8.16136C11.1839 8.16136 10.7214 7.69886 10.7214 7.13014C10.7214 6.56143 11.1839 6.09893 11.7526 6.09893C12.3213 6.09893 12.7838 6.56143 12.7838 7.13014C12.7838 7.69886 12.3213 8.16136 11.7526 8.16136Z"
                fill="url(#paint0_linear_233:2931)"
              />
              <defs>
                <linearGradient
                  id="paint0_linear_233:2931"
                  x1="3.07137"
                  y1="10.3159"
                  x2="21.8215"
                  y2="10.3159"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop offset="0.224429" stop-color="#0A9EF7" />
                  <stop offset="1" stop-color="#162CF7" />
                </linearGradient>
              </defs>
            </svg>

            <span> 36 comentários </span>
          </div>

          <div class="feedback">
            <svg
              width="19"
              height="19"
              viewBox="0 0 19 19"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.4426 9.82799C15.4426 6.69449 12.8933 4.14526 9.75987 4.14526C6.62642 4.14526 4.07715 6.69454 4.07715 9.82799C4.07715 12.9614 6.62642 15.5107 9.75987 15.5107C12.8933 15.5107 15.4426 12.9615 15.4426 9.82799ZM10.5265 7.73374C10.7802 7.48018 11.1174 7.34054 11.4761 7.34054C11.8346 7.34054 12.1718 7.48018 12.4255 7.73369L12.4255 7.73374C12.6556 7.96351 12.6124 8.3028 12.4255 8.48975C12.2152 8.70007 11.8729 8.69799 11.6648 8.48373C11.614 8.43598 11.5457 8.40876 11.476 8.40876C11.4061 8.40876 11.3375 8.43622 11.2868 8.48425C11.079 8.6978 10.737 8.70007 10.5264 8.48946C10.3177 8.2808 10.3177 7.9426 10.5265 7.73374ZM7.09406 7.73374C7.34777 7.48018 7.68497 7.34054 8.04365 7.34054C8.40219 7.34054 8.7394 7.48018 8.9931 7.73369L8.99306 7.73374C9.22315 7.96351 9.18001 8.3028 8.9931 8.48975C8.78278 8.70007 8.44046 8.69799 8.23231 8.48373C8.18158 8.43598 8.1133 8.40876 8.04361 8.40876C7.97362 8.40876 7.90506 8.43622 7.85438 8.48425C7.64657 8.6978 7.30453 8.70007 7.09392 8.48946C6.88525 8.2808 6.88525 7.9426 7.09406 7.73374ZM12.9978 10.7778C12.1051 11.6703 10.9325 12.1166 9.75987 12.1166C8.5872 12.1166 7.41462 11.6703 6.52192 10.7778C6.31335 10.5692 6.3133 10.231 6.52183 10.0225C6.73035 9.81391 7.06855 9.81386 7.27712 10.0224C8.64613 11.3911 10.8736 11.3912 12.2425 10.0224C12.4511 9.81391 12.7893 9.81391 12.9978 10.0225C13.2064 10.231 13.2064 10.5692 12.9978 10.7778Z"
                fill="url(#paint0_linear_233:2919)"
              />
              <path
                d="M13.5267 4.01232L14.893 4.69526L15.5761 6.06166C15.6666 6.24259 15.8516 6.35691 16.0539 6.35691C16.2562 6.35691 16.4411 6.24259 16.5316 6.06166L17.2148 4.69526L18.581 4.01232C18.7619 3.92185 18.8763 3.73694 18.8763 3.53463C18.8763 3.33231 18.762 3.14735 18.5811 3.05689L17.2148 2.37366L16.5316 1.00745C16.441 0.826472 16.2561 0.712158 16.0538 0.712158C15.8515 0.712158 15.6666 0.826472 15.5761 1.0074L14.8929 2.37362L13.5266 3.05684C13.3457 3.14731 13.2314 3.33227 13.2314 3.53458C13.2314 3.73689 13.3458 3.9218 13.5267 4.01232Z"
                fill="url(#paint1_linear_233:2919)"
              />
              <path
                d="M18.581 15.6428L17.2147 14.9596L16.5315 13.5933C16.441 13.4124 16.2561 13.2981 16.0538 13.2981C15.8515 13.2981 15.6666 13.4124 15.5761 13.5933L14.8929 14.9596L13.5266 15.6428C13.3457 15.7332 13.2314 15.9182 13.2314 16.1205C13.2314 16.3228 13.3458 16.5077 13.5267 16.5982L14.893 17.2811L15.5761 18.6476C15.6666 18.8285 15.8516 18.9428 16.0539 18.9428C16.2562 18.9428 16.4411 18.8285 16.5316 18.6476L17.2148 17.2811L18.581 16.5982C18.7619 16.5077 18.8763 16.3228 18.8763 16.1205C18.8763 15.9182 18.7619 15.7332 18.581 15.6428Z"
                fill="url(#paint2_linear_233:2919)"
              />
              <path
                d="M0.939822 4.01256L2.30604 4.6955L2.98922 6.06191C3.07968 6.24284 3.26464 6.35715 3.46695 6.35715C3.66927 6.35715 3.85422 6.24284 3.94469 6.06191L4.62787 4.6955L5.99408 4.01256C6.17501 3.9221 6.28937 3.73718 6.28937 3.53487C6.28937 3.33256 6.17511 3.1476 5.99418 3.05713L4.62787 2.37391L3.94459 1.00765C3.85413 0.826716 3.66922 0.712402 3.46691 0.712402C3.26459 0.712402 3.07968 0.826716 2.98922 1.00765L2.30599 2.37386L0.939727 3.05713C0.758797 3.1476 0.644531 3.33251 0.644531 3.53482C0.644531 3.73714 0.758845 3.92205 0.939822 4.01256Z"
                fill="url(#paint3_linear_233:2919)"
              />
              <path
                d="M5.99408 15.6428L4.62782 14.9596L3.94459 13.5933C3.85413 13.4124 3.66922 13.2981 3.46691 13.2981C3.26459 13.2981 3.07968 13.4124 2.98922 13.5933L2.30599 14.9596L0.939727 15.6428C0.758797 15.7332 0.644531 15.9183 0.644531 16.1205C0.644531 16.3228 0.758845 16.5077 0.939822 16.5982L2.30604 17.2811L2.98922 18.6476C3.07968 18.8285 3.26464 18.9428 3.46695 18.9428C3.66927 18.9428 3.85422 18.8285 3.94469 18.6476L4.62787 17.2812L5.99408 16.5983C6.17501 16.5078 6.28937 16.3229 6.28937 16.1206C6.28933 15.9183 6.17501 15.7332 5.99408 15.6428Z"
                fill="url(#paint4_linear_233:2919)"
              />
              <defs>
                <linearGradient
                  id="paint0_linear_233:2919"
                  x1="6.03322"
                  y1="11.9928"
                  x2="19.81"
                  y2="11.9928"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop offset="0.224429" stop-color="#0A9EF7" />
                  <stop offset="1" stop-color="#162CF7" />
                </linearGradient>
                <linearGradient
                  id="paint1_linear_233:2919"
                  x1="14.203"
                  y1="4.60972"
                  x2="21.0454"
                  y2="4.60972"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop offset="0.224429" stop-color="#0A9EF7" />
                  <stop offset="1" stop-color="#162CF7" />
                </linearGradient>
                <linearGradient
                  id="paint2_linear_233:2919"
                  x1="14.203"
                  y1="17.1956"
                  x2="21.0454"
                  y2="17.1956"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop offset="0.224429" stop-color="#0A9EF7" />
                  <stop offset="1" stop-color="#162CF7" />
                </linearGradient>
                <linearGradient
                  id="paint3_linear_233:2919"
                  x1="1.61605"
                  y1="4.60996"
                  x2="8.45853"
                  y2="4.60996"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop offset="0.224429" stop-color="#0A9EF7" />
                  <stop offset="1" stop-color="#162CF7" />
                </linearGradient>
                <linearGradient
                  id="paint4_linear_233:2919"
                  x1="1.61605"
                  y1="17.1957"
                  x2="8.45853"
                  y2="17.1957"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop offset="0.224429" stop-color="#0A9EF7" />
                  <stop offset="1" stop-color="#162CF7" />
                </linearGradient>
              </defs>
            </svg>

            <span> 86% retornariam </span>
          </div>
        </div>
      </div>

      <div
        class="hidden lg:block w-full bg-white p-10 rounded-2xl"
        style="height: 368px"
      >
        <p class="uppercase text-3xl font-bold">Categorias:</p>
        <div class="mt-6 grid grid-cols-2 gap-4">
          <template v-for="category in categories">
            <SliderView :label="category.label" :value="category.value" />
          </template>
        </div>
      </div>
    </div>

    <hr />

    <swiper
      class="mt-4"
      style="background: #f9fafbff"
      @mouseenter="swiperMouseEvent.enter"
      @mouseleave="swiperMouseEvent.leave"
      :autoplay="{
        delay: 2500,
        disableOnInteraction: true,
      }"
      navigation
      loop
      centeredSlides
      :breakpoints="{
        1024: {
          slidesPerView: 2.5,
        },
        630: {
          slidesPerView: 1.6,
        },
      }"
      :slides-per-view="1.1"
      :space-between="10"
    >
      <swiper-slide v-for="i in 5" :key="i">
        <Comment />
      </swiper-slide>

      <div class="flex justify-end mr-4">
        <ButtonViewMore class="hidden lg:block" />
        <a
          href="#"
          class="block lg:hidden font-bold text-xs"
          style="color: var(--color-blue)"
        >
          Ver mais
        </a>
      </div>
    </swiper>

    <hr class="my-4" />
  </div>
</template>

<style lang="postcss" scoped>
hr {
  @apply lg:hidden;
}

.feedback {
  @apply w-max text-base px-4 flex items-center gap-2 py-2 rounded-xl;
  background: var(--color-lighter-blue);
}
.feedback svg {
  @apply w-6 h-6;
}
</style>
