<script lang="ts" setup>
import { ref } from "vue";
import { useRouter } from "vue-router";

import { Swiper, SwiperSlide } from "swiper/vue";
import ReturnButton from "@/components/Button/ReturnButton.vue";
import Filter from "@/components/Filters.vue";
import Button from "@/components/Button/Button.vue";
import Benefits from "@/components/Benefits.vue";
import SuiteViewAvaliations from "@/components/Card/SuiteView/Avaliations.vue";
import SuiteViewLocation from "@/components/Card/SuiteView/Location.vue";
import SuiteViewInformations from "@/components/Card/SuiteView/Informations.vue";
import Calendar from "@/components/Input/Calendar/Calendar.vue";
import Timer from "@/components/Input/Time/Timer.vue";

import momment from "moment";

import { swiperMouseEvent } from "@/utils";

const router = useRouter();
const showWrapper = ref(false);
const activeField = ref("avaliations");
const form = ref({
  date: momment().add(1, "day"),
  time: {
    start: momment().format("HH:mm"),
    end: momment().add(7, "hour").format("HH:mm"),
  },
});

const changePage = (id: string) => {
  activeField.value = id;
};

const onClick = () => {
  router.push({ name: "Increase" });
};

const dayClick = ({ date }: { date: string }) => {
  form.value.date = momment(date);
};

const changeTime = (newTime: { start: string; end: string }) => {
  form.value.time = newTime;
};
</script>

<template>
  <div
    @click="showWrapper = !showWrapper"
    v-if="showWrapper"
    class="wrapper"
  ></div>

  <div
    class="container-xl relative overflow-hidden"
    style="background: #f9fafbff"
  >
    <swiper
      style="background: #f9fafbff"
      @mouseenter="swiperMouseEvent.enter"
      @mouseleave="swiperMouseEvent.leave"
      :autoplay="{
        delay: 2500,
        disableOnInteraction: true,
      }"
      :pagination="{
        clickable: true,
      }"
      :slides-per-view="1"
    >
      <ReturnButton class="absolute inset-0 z-10 left-2 top-4" to="/procurar" />
      <swiper-slide>
        <img
          class="suite-image"
          src="https://www.guiademoteis.com.br/imagens/suites/big/2085_big_4335_1.jpg"
          alt="Foto do quarto"
        />
      </swiper-slide>
      <swiper-slide>
        <img
          class="suite-image"
          src="https://www.guiademoteis.com.br/imagens/suites/big/2085_big_4335_1.jpg"
          alt="Foto do quarto"
        />
      </swiper-slide>
      <swiper-slide>
        <img
          class="suite-image"
          src="https://www.guiademoteis.com.br/imagens/suites/big/2085_big_4335_1.jpg"
          alt="Foto do quarto"
        />
      </swiper-slide>
    </swiper>

    <div
      v-if="showWrapper"
      class="w-max flex flex-col-reverse sm:flex-row justify-center fixed z-10"
      style="left: 50%; top: 50%; transform: translate(-50%, -50%)"
    >
      <Timer
        class="wrapper-input timer"
        @focus="showWrapper = true"
        @change="changeTime"
      />

      <Calendar
        class="wrapper-input calendar"
        @focus="showWrapper = true"
        @dayclick="dayClick"
        is-required
        :model-value="form.date.toDate()"
      />
    </div>

    <div
      class="container-xl bg-gray-50 rounded-t-3xl lg:rounded-none py-2 px-4"
    >
      <p class="name">
        suíte super luxo
        <img
          class="inline ml-auto"
          src="../../../assets/icons/recicle-icon.png"
          alt="Icone"
        />
      </p>
      <div class="flex items-center justify-between gap-2 mt-2">
        <div
          class="
            w-full
            flex
            items-center
            justify-around
            gap-2
            px-2
            rounded-xl
            text-sm
            lg:text-xl
            font-bold
          "
          style="background: var(--color-pink)"
        >
          <div class="flex items-center justify-center gap-1">
            <i
              class="uil uil-thumbs-up text-lg lg:text-2xl"
              style="color: var(--color-red)"
            ></i>
            <span> 4.0 </span>
          </div>

          <div class="flex items-center justify-center gap-1">
            <i
              class="uil uil-star text-lg lg:text-2xl"
              style="color: var(--color-red)"
            ></i>
            <span>8.5</span>
          </div>

          <div class="flex items-center justify-center gap-1">
            <i
              class="uil uil-heart-alt text-lg lg:text-2xl"
              style="color: var(--color-red)"
            ></i>
            <span>9.5</span>
          </div>
        </div>

        <div
          class="
            w-full
            flex
            items-center
            justify-center
            gap-2
            text-sm
            lg:text-lg
            font-bold
            px-2
            py-1
            rounded-xl
          "
          style="
            background: var(--color-lighter-blue);
            font-family: Nunito, 'sans-serif';
          "
        >
          <img
            class="lg:w-7"
            src="../../../assets/icons/house.svg"
            alt="Icone"
          />
          <span>Motel Le Monde</span>
        </div>
      </div>

      <p class="mt-3 text-sm justified mb-2" style="font-weight: 500">
        O quarto super luxo possui todo o conforto esperado para você e sua
        companhia desfrutarem de um momento romântico!
      </p>

      <hr />

      <Benefits />

      <hr />
      <Filter
        class="w-full text-xs mt-4"
        @change="changePage"
        :initial-field="activeField"
        :fields="[
          { label: 'Avaliações', id: 'avaliations' },
          { label: 'Localização', id: 'location' },
          { label: 'Mais informações', id: 'informations' },
        ]"
      />

      <template v-if="activeField === 'avaliations'">
        <SuiteViewAvaliations />
      </template>
      <template v-else-if="activeField === 'location'">
        <SuiteViewLocation />
      </template>
      <template v-else-if="activeField === 'informations'">
        <SuiteViewInformations />
      </template>

      <div class="flex flex-col items-center">
        <div class="flex items-center justify-center gap-2">
          <div
            class="
              w-min
              bg-white
              font-bold
              text-sm
              sm:text-base
              rounded-xl
              pr-1.5
            "
          >
            <div class="flex items-center">
              <i
                class="icon uil uil-calendar-alt cursor-pointer"
                @click="showWrapper = true"
              ></i>
              <span>{{ form.date.date() }}</span>
              <span class="text-red-600">/</span>
              <span>{{ form.date.month() + 1 }}</span>
              <span class="text-red-600">/</span>
              <span>{{ form.date.year() }}</span>

              <span class="text-red-600 mx-2">|</span>

              <span>{{ form.time.start.split(":")[0] }}</span>
              <span class="text-red-600">:</span>
              <span>{{ form.time.start.split(":")[1] }}</span>
              <span class="text-red-600 mx-0.5">-</span>
              <span>{{ form.time.end.split(":")[0] }}</span>
              <span class="text-red-600">:</span>
              <span>{{ form.time.end.split(":")[1] }}</span>
            </div>
          </div>
          <div
            class="
              w-min
              bg-white
              font-bold
              text-sm
              sm:text-base
              rounded-xl
              pr-1.5
            "
          >
            <div class="flex items-center">
              <i class="icon uil uil-calculator"></i>
              <span class="text-red-600 mx-0.5">R$</span>
              <span>200</span>
              <span class="text-red-600">,</span>
              <span>00</span>
            </div>
          </div>
        </div>

        <Button class="submit-button mt-2" @click="onClick">
          E AÍ? VAMOS RESERVAR?
        </Button>
      </div>
    </div>
  </div>
</template>

<style lang="postcss" scoped>
.wrapper {
  @apply absolute inset-0 w-full h-full bg-gray-900 opacity-50;
  z-index: 1;
}
.wrapper-input {
  @apply w-full sm:w-auto static !important;
  height: 282px;
}
.wrapper-input.calendar {
  @apply rounded-l-none border-l-0 !important;
  margin-left: -1px;
}
.wrapper-input.timer {
  @apply rounded-r-none border-r-0 !important;
}
@media screen and (max-width: 630px) {
  .wrapper-input.calendar {
    @apply rounded-b-none border-0 rounded-xl !important;
    margin-left: 0;
  }
  .wrapper-input.timer {
    @apply rounded-t-none border-t-0 rounded-xl !important;
    margin-top: -40px;
    margin-bottom: 70px;
    z-index: 1;
  }
}

.swiper-slide,
.swiper {
  @apply mb-0 !important;
}

.suite-image {
  @apply md:rounded-3xl md:mx-auto;
  max-width: 650px;
}

.name {
  @apply flex items-center justify-between font-bold uppercase text-xl text-white rounded-xl px-4 py-2;
  font-family: Nunito, "sans-serif";
  background: var(--from-red-to-yellow-90deg);
}

.submit-button {
  @apply w-full lg:w-1/3 !important;
  background: var(--from-blue-to-light);
}

.icon {
  @apply text-xl sm:text-3xl rounded-lg p-1 mr-1.5;
  background: var(--color-pink);
  color: var(--color-red);
}
</style>
