<template>
  <hr />

  <div class="container-xl lg:px-20">
    <div class="lg:grid grid-cols-2 gap-4">
      <div class="info">
        <div class="title-container">
          <svg
            width="22"
            height="22"
            viewBox="0 0 46 45"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M23.1191 0.298828C10.8049 0.298828 0.820312 10.2835 0.820312 22.5976C0.820312 34.9118 10.8049 44.8984 23.1191 44.8984C35.4333 44.8984 45.4198 34.9118 45.4198 22.5976C45.4198 10.2835 35.4333 0.298828 23.1191 0.298828ZM27.7613 34.859C26.6135 35.312 25.6998 35.6556 25.0145 35.8935C24.3311 36.1314 23.5363 36.2503 22.6321 36.2503C21.2426 36.2503 20.1609 35.9105 19.3907 35.2328C18.6205 34.555 18.2373 33.6961 18.2373 32.6521C18.2373 32.2462 18.2656 31.8309 18.3222 31.4081C18.3807 30.9852 18.4732 30.5095 18.5997 29.9752L20.0363 24.9008C20.1628 24.4137 20.2723 23.9512 20.3592 23.5208C20.446 23.0866 20.4875 22.6883 20.4875 22.3258C20.4875 21.6802 20.3535 21.2271 20.0873 20.9722C19.8174 20.7174 19.3095 20.5928 18.5525 20.5928C18.1825 20.5928 17.8012 20.6475 17.4104 20.7627C17.0234 20.8816 16.6874 20.9892 16.4117 21.0949L16.7912 19.5318C17.7313 19.1486 18.6318 18.8201 19.4908 18.5483C20.3497 18.2727 21.1615 18.1368 21.926 18.1368C23.306 18.1368 24.3707 18.4728 25.1202 19.1373C25.8659 19.8037 26.2416 20.6702 26.2416 21.7349C26.2416 21.9558 26.2151 22.3447 26.1642 22.8997C26.1132 23.4566 26.0169 23.9644 25.8772 24.4307L24.4481 29.49C24.3311 29.8959 24.2273 30.3603 24.1329 30.8795C24.0404 31.3986 23.9951 31.7951 23.9951 32.0612C23.9951 32.7333 24.1442 33.192 24.4463 33.4356C24.7445 33.6791 25.2675 33.8018 26.0075 33.8018C26.3567 33.8018 26.7475 33.7395 27.1893 33.6187C27.6272 33.4979 27.9444 33.3903 28.1445 33.2978L27.7613 34.859ZM27.5083 14.3234C26.8419 14.9426 26.0396 15.2522 25.1013 15.2522C24.165 15.2522 23.357 14.9426 22.6849 14.3234C22.0166 13.7042 21.6787 12.9509 21.6787 12.0712C21.6787 11.1934 22.0185 10.4383 22.6849 9.81339C23.357 9.18664 24.165 8.87515 25.1013 8.87515C26.0396 8.87515 26.8438 9.18664 27.5083 9.81339C28.1747 10.4383 28.5088 11.1934 28.5088 12.0712C28.5088 12.9528 28.1747 13.7042 27.5083 14.3234Z"
              fill="url(#paint0_linear_153:5841)"
            />
            <defs>
              <linearGradient
                id="paint0_linear_153:5841"
                x1="0.820313"
                y1="23.0358"
                x2="51.6681"
                y2="23.0358"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset="0.472701" stop-color="#F81C23" />
                <stop offset="1" stop-color="#ED8700" />
              </linearGradient>
            </defs>
          </svg>

          <h2 class="title">Política de cancelamento:</h2>
        </div>

        <p class="description">
          As políticas de cancelamento variam de acordo com a acomodação. Por
          favor, verifique quais condições se aplicam a cada opção quando fizer
          sua escolha.
        </p>
      </div>

      <hr />

      <div class="info">
        <div class="title-container">
          <svg
            width="22"
            height="22"
            viewBox="0 0 42 44"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M25.6969 25.4419C24.5356 25.4419 23.5908 26.3867 23.5908 27.548C23.5908 28.7094 24.5356 29.6541 25.6969 29.6541C26.8583 29.6541 27.8031 28.7094 27.8031 27.548C27.8031 26.3867 26.8583 25.4419 25.6969 25.4419Z"
              fill="url(#paint0_linear_153:5866)"
            />
            <path
              d="M37.3857 7.58272C35.2338 7.58272 33.4894 9.32718 33.4894 11.4791V3.89634C33.4894 1.74447 31.7449 0 29.593 0C27.4412 0 25.6967 1.74447 25.6967 3.89634H25.6951C25.6951 1.74447 23.9506 0 21.7987 0C19.6469 0 17.9024 1.74447 17.9024 3.89634V10.2154C17.9024 8.06351 16.1579 6.31904 14.006 6.31904C11.8542 6.31904 10.1097 8.06351 10.1097 10.2154V23.0654L9.46603 21.9498C8.07796 19.5462 5.00005 18.6731 2.60466 20.0036C1.40943 20.667 0.550528 21.7576 0.185905 23.0743C-0.178719 24.3909 -0.00331758 25.7675 0.679857 26.9505L7.46949 38.7106C9.04447 41.4387 11.9799 43.1335 15.1302 43.1335H32.4363C37.3215 43.1335 41.282 39.173 41.282 34.2878V11.4791C41.282 9.32718 39.5376 7.58272 37.3857 7.58272ZM19.3783 30.9179C19.3783 31.6159 18.8126 32.1816 18.1146 32.1816C17.4167 32.1816 16.851 31.6159 16.851 30.9179V21.9222L16.4228 22.2993C15.8993 22.761 15.1009 22.7106 14.6392 22.1871C14.1778 21.6635 14.2282 20.8651 14.7517 20.4034L17.2791 18.1756C17.6516 17.8471 18.1821 17.7675 18.6346 17.9718C19.0874 18.1765 19.3783 18.6271 19.3783 19.1236V30.9179ZM25.6967 32.1816C23.1417 32.1816 21.0632 30.1031 21.0632 27.5481C21.0632 26.1242 21.7092 24.849 22.7231 23.9983C22.212 23.352 21.9057 22.5369 21.9057 21.651C21.9057 19.5607 23.6064 17.86 25.6967 17.86C27.787 17.86 29.4877 19.5607 29.4877 21.651C29.4877 22.5369 29.1814 23.352 28.6703 23.9983C29.6842 24.849 30.3302 26.1242 30.3302 27.5481C30.3302 30.1031 28.2517 32.1816 25.6967 32.1816ZM36.6486 24.7681H35.8061V25.6105C35.8061 26.3085 35.2404 26.8742 34.5424 26.8742C33.8445 26.8742 33.2788 26.3085 33.2788 25.6105V24.7681H32.4363C31.7383 24.7681 31.1726 24.2024 31.1726 23.5044C31.1726 22.8064 31.7383 22.2407 32.4363 22.2407H33.2788V21.3983C33.2788 20.7003 33.8445 20.1346 34.5424 20.1346C35.2404 20.1346 35.8061 20.7003 35.8061 21.3983V22.2407H36.6486C37.3465 22.2407 37.9122 22.8064 37.9122 23.5044C37.9122 24.2024 37.3465 24.7681 36.6486 24.7681Z"
              fill="url(#paint1_linear_153:5866)"
            />
            <path
              d="M25.6963 22.9141C26.393 22.9141 26.96 22.3471 26.96 21.6504C26.96 20.9537 26.393 20.3867 25.6963 20.3867C24.9993 20.3867 24.4326 20.9537 24.4326 21.6504C24.4326 22.3471 24.9993 22.9141 25.6963 22.9141Z"
              fill="url(#paint2_linear_153:5866)"
            />
            <defs>
              <linearGradient
                id="paint0_linear_153:5866"
                x1="23.5908"
                y1="27.5893"
                x2="28.3932"
                y2="27.5893"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset="0.472701" stop-color="#F81C23" />
                <stop offset="1" stop-color="#ED8700" />
              </linearGradient>
              <linearGradient
                id="paint1_linear_153:5866"
                x1="1.0016e-07"
                y1="21.9896"
                x2="47.0655"
                y2="21.9896"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset="0.472701" stop-color="#F81C23" />
                <stop offset="1" stop-color="#ED8700" />
              </linearGradient>
              <linearGradient
                id="paint2_linear_153:5866"
                x1="24.4326"
                y1="21.6752"
                x2="27.314"
                y2="21.6752"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset="0.472701" stop-color="#F81C23" />
                <stop offset="1" stop-color="#ED8700" />
              </linearGradient>
            </defs>
          </svg>

          <h2 class="title">Restrições de idade:</h2>
        </div>

        <p class="description">
          Apenas aqueles com mais de 18 anos poderão fazer check-in neste
          estabelecimento.
        </p>
      </div>

      <hr />

      <div class="info">
        <div class="title-container">
          <svg
            width="22"
            height="22"
            viewBox="0 0 44 44"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M21.5157 -0.000488281C9.65146 -0.000488281 0 9.65097 0 21.5138C0 33.3767 9.65146 43.0281 21.5157 43.0281C33.3772 43.0281 43.0286 33.3767 43.0286 21.5138C43.0286 9.65097 33.3772 -0.000488281 21.5157 -0.000488281ZM21.5157 37.9801C12.4329 37.9801 5.04539 30.5966 5.04539 21.5138C5.04539 12.4337 12.4329 5.04625 21.5157 5.04625C30.5944 5.04625 37.9832 12.4324 37.9832 21.5138C37.9832 30.5926 30.5944 37.9801 21.5157 37.9801Z"
              fill="url(#paint0_linear_153:5852)"
            />
            <path
              d="M21.5157 9.40485C22.2562 9.40485 22.8565 8.80453 22.8565 8.064C22.8565 7.32347 22.2562 6.72314 21.5157 6.72314C20.7751 6.72314 20.1748 7.32347 20.1748 8.064C20.1748 8.80453 20.7751 9.40485 21.5157 9.40485Z"
              fill="url(#paint1_linear_153:5852)"
            />
            <path
              d="M21.516 36.1375C22.2573 36.1375 22.8582 35.5366 22.8582 34.7953C22.8582 34.054 22.2573 33.4531 21.516 33.4531C20.7748 33.4531 20.1738 34.054 20.1738 34.7953C20.1738 35.5366 20.7748 36.1375 21.516 36.1375Z"
              fill="url(#paint2_linear_153:5852)"
            />
            <path
              d="M34.8793 22.7733C35.6206 22.7733 36.2215 22.1723 36.2215 21.4311C36.2215 20.6898 35.6206 20.0889 34.8793 20.0889C34.138 20.0889 33.5371 20.6898 33.5371 21.4311C33.5371 22.1723 34.138 22.7733 34.8793 22.7733Z"
              fill="url(#paint3_linear_153:5852)"
            />
            <path
              d="M8.14591 22.7733C8.88719 22.7733 9.48812 22.1723 9.48812 21.4311C9.48812 20.6898 8.88719 20.0889 8.14591 20.0889C7.40464 20.0889 6.80371 20.6898 6.80371 21.4311C6.80371 22.1723 7.40464 22.7733 8.14591 22.7733Z"
              fill="url(#paint4_linear_153:5852)"
            />
            <path
              d="M30.9635 13.3201C31.7033 13.3201 32.303 12.7204 32.303 11.9806C32.303 11.2408 31.7033 10.6411 30.9635 10.6411C30.2237 10.6411 29.624 11.2408 29.624 11.9806C29.624 12.7204 30.2237 13.3201 30.9635 13.3201Z"
              fill="url(#paint5_linear_153:5852)"
            />
            <path
              d="M12.0625 32.2217C12.8031 32.2217 13.4034 31.6214 13.4034 30.8809C13.4034 30.1404 12.8031 29.54 12.0625 29.54C11.322 29.54 10.7217 30.1404 10.7217 30.8809C10.7217 31.6214 11.322 32.2217 12.0625 32.2217Z"
              fill="url(#paint6_linear_153:5852)"
            />
            <path
              d="M30.9639 32.2217C31.7044 32.2217 32.3048 31.6214 32.3048 30.8809C32.3048 30.1404 31.7044 29.54 30.9639 29.54C30.2234 29.54 29.623 30.1404 29.623 30.8809C29.623 31.6214 30.2234 32.2217 30.9639 32.2217Z"
              fill="url(#paint7_linear_153:5852)"
            />
            <path
              d="M12.0625 13.3209C12.8031 13.3209 13.4034 12.7205 13.4034 11.98C13.4034 11.2395 12.8031 10.6392 12.0625 10.6392C11.322 10.6392 10.7217 11.2395 10.7217 11.98C10.7217 12.7205 11.322 13.3209 12.0625 13.3209Z"
              fill="url(#paint8_linear_153:5852)"
            />
            <path
              d="M30.6711 20.2047H24.9358C24.6056 19.3126 23.9669 18.6415 23.188 18.2359V13.3199C23.188 12.39 22.4427 11.6367 21.5143 11.6367C20.5831 11.6367 19.8392 12.39 19.8392 13.3199V18.2332C18.6129 18.845 17.834 20.0834 17.834 21.5119C17.834 23.5454 19.4821 25.2151 21.517 25.2151C22.8106 25.2151 23.9494 24.5561 24.6056 23.5508H30.6738C31.601 23.5508 32.3543 22.8083 32.3543 21.8771C32.3529 20.9499 31.5996 20.2047 30.6711 20.2047Z"
              fill="url(#paint9_linear_153:5852)"
            />
            <defs>
              <linearGradient
                id="paint0_linear_153:5852"
                x1="1.04398e-07"
                y1="21.9357"
                x2="49.0568"
                y2="21.9357"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset="0.472701" stop-color="#F81C23" />
                <stop offset="1" stop-color="#ED8700" />
              </linearGradient>
              <linearGradient
                id="paint1_linear_153:5852"
                x1="20.1748"
                y1="8.09029"
                x2="23.2322"
                y2="8.09029"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset="0.472701" stop-color="#F81C23" />
                <stop offset="1" stop-color="#ED8700" />
              </linearGradient>
              <linearGradient
                id="paint2_linear_153:5852"
                x1="20.1738"
                y1="34.8216"
                x2="23.2343"
                y2="34.8216"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset="0.472701" stop-color="#F81C23" />
                <stop offset="1" stop-color="#ED8700" />
              </linearGradient>
              <linearGradient
                id="paint3_linear_153:5852"
                x1="33.5371"
                y1="21.4574"
                x2="36.5976"
                y2="21.4574"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset="0.472701" stop-color="#F81C23" />
                <stop offset="1" stop-color="#ED8700" />
              </linearGradient>
              <linearGradient
                id="paint4_linear_153:5852"
                x1="6.80371"
                y1="21.4574"
                x2="9.86419"
                y2="21.4574"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset="0.472701" stop-color="#F81C23" />
                <stop offset="1" stop-color="#ED8700" />
              </linearGradient>
              <linearGradient
                id="paint5_linear_153:5852"
                x1="29.624"
                y1="12.0069"
                x2="32.6784"
                y2="12.0069"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset="0.472701" stop-color="#F81C23" />
                <stop offset="1" stop-color="#ED8700" />
              </linearGradient>
              <linearGradient
                id="paint6_linear_153:5852"
                x1="10.7217"
                y1="30.9072"
                x2="13.7791"
                y2="30.9072"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset="0.472701" stop-color="#F81C23" />
                <stop offset="1" stop-color="#ED8700" />
              </linearGradient>
              <linearGradient
                id="paint7_linear_153:5852"
                x1="29.623"
                y1="30.9072"
                x2="32.6805"
                y2="30.9072"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset="0.472701" stop-color="#F81C23" />
                <stop offset="1" stop-color="#ED8700" />
              </linearGradient>
              <linearGradient
                id="paint8_linear_153:5852"
                x1="10.7217"
                y1="12.0063"
                x2="13.7791"
                y2="12.0063"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset="0.472701" stop-color="#F81C23" />
                <stop offset="1" stop-color="#ED8700" />
              </linearGradient>
              <linearGradient
                id="paint9_linear_153:5852"
                x1="17.834"
                y1="18.559"
                x2="34.3885"
                y2="18.559"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset="0.472701" stop-color="#F81C23" />
                <stop offset="1" stop-color="#ED8700" />
              </linearGradient>
            </defs>
          </svg>

          <h2 class="title">Funcionamento:</h2>
        </div>

        <p class="description">
          Este Motel funciona de Segunda a Segunda, incluindo feriados. Aberto
          24 horas.
        </p>
      </div>

      <hr />

      <div class="info">
        <div class="title-container">
          <svg
            width="22"
            height="22"
            viewBox="0 0 45 45"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M22.4103 22.0596C14.5108 22.0596 7.09082 32.7087 7.09082 39.1299C7.09082 42.3206 10.7438 44.82 15.4071 44.82C17.1611 44.82 18.3369 44.4323 19.3744 44.0902C20.3238 43.7772 21.1438 43.5069 22.4103 43.5069C23.6769 43.5069 24.4968 43.7772 25.4463 44.0902C26.4837 44.4323 27.6596 44.82 29.4135 44.82C34.0769 44.82 37.7298 42.3206 37.7298 39.1299C37.7298 32.7087 30.3098 22.0596 22.4103 22.0596Z"
              fill="url(#paint0_linear_153:5882)"
            />
            <path
              d="M14.5313 -0.000488281C10.8497 -0.000488281 7.96582 4.42151 7.96582 10.0666C7.96582 15.7117 10.8497 20.1337 14.5313 20.1337C18.2129 20.1337 21.0968 15.7117 21.0968 10.0666C21.0968 4.42151 18.2129 -0.000488281 14.5313 -0.000488281Z"
              fill="url(#paint1_linear_153:5882)"
            />
            <path
              d="M30.2891 -0.000488281C26.6076 -0.000488281 23.7236 4.42151 23.7236 10.0666C23.7236 15.7117 26.6076 20.1337 30.2891 20.1337C33.9707 20.1337 36.8546 15.7117 36.8546 10.0666C36.8546 4.42151 33.9707 -0.000488281 30.2891 -0.000488281Z"
              fill="url(#paint2_linear_153:5882)"
            />
            <path
              d="M9.48436 20.414C7.52522 17.0494 4.27941 15.845 2.03199 17.1355C-0.237309 18.4383 -0.710375 21.8853 1.14504 25.2287C3.01104 28.591 6.43876 29.7639 8.5975 28.5073C10.804 27.2227 11.4285 23.7529 9.48436 20.414Z"
              fill="url(#paint3_linear_153:5882)"
            />
            <path
              d="M42.7882 17.1355C40.5408 15.845 37.295 17.0494 35.3358 20.414C33.3917 23.7529 34.0162 27.2227 36.2227 28.5073C38.3814 29.764 41.8092 28.5911 43.6751 25.2287C45.5306 21.8853 45.0574 18.4384 42.7882 17.1355Z"
              fill="url(#paint4_linear_153:5882)"
            />
            <defs>
              <linearGradient
                id="paint0_linear_153:5882"
                x1="7.09082"
                y1="33.6629"
                x2="42.0223"
                y2="33.6629"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset="0.472701" stop-color="#F81C23" />
                <stop offset="1" stop-color="#ED8700" />
              </linearGradient>
              <linearGradient
                id="paint1_linear_153:5882"
                x1="7.96582"
                y1="10.264"
                x2="22.9364"
                y2="10.264"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset="0.472701" stop-color="#F81C23" />
                <stop offset="1" stop-color="#ED8700" />
              </linearGradient>
              <linearGradient
                id="paint2_linear_153:5882"
                x1="23.7236"
                y1="10.264"
                x2="38.6942"
                y2="10.264"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset="0.472701" stop-color="#F81C23" />
                <stop offset="1" stop-color="#ED8700" />
              </linearGradient>
              <linearGradient
                id="paint3_linear_153:5882"
                x1="2.58353e-08"
                y1="22.9352"
                x2="12.1401"
                y2="22.9352"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset="0.472701" stop-color="#F81C23" />
                <stop offset="1" stop-color="#ED8700" />
              </linearGradient>
              <linearGradient
                id="paint4_linear_153:5882"
                x1="34.1719"
                y1="22.9352"
                x2="46.3119"
                y2="22.9352"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset="0.472701" stop-color="#F81C23" />
                <stop offset="1" stop-color="#ED8700" />
              </linearGradient>
            </defs>
          </svg>

          <h2 class="title">Política de animais:</h2>
        </div>

        <p class="description">
          Animais de estimação não são permitidos neste local.
        </p>
      </div>
    </div>

    <hr />

    <div class="info">
      <div class="title-container">
        <svg
          width="22"
          height="22"
          viewBox="0 0 41 49"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M23.3217 22.2555H27.8705V25.071H23.3217C22.5403 25.071 21.9079 25.7044 21.9079 26.4848V31.0345H19.0925V26.4848C19.0925 25.7044 18.46 25.071 17.6786 25.071H13.1289V22.2555H17.6786C18.46 22.2555 19.0925 21.6231 19.0925 20.8417V16.292H21.9079V20.8417C21.9079 21.623 22.5403 22.2555 23.3217 22.2555Z"
            fill="url(#paint0_linear_153:5919)"
          />
          <path
            d="M40.9516 13.09L40.9506 13.0438C40.928 11.8411 40.9063 10.7044 40.9063 9.61099C40.9063 7.95398 39.5585 6.60706 37.9024 6.60706C31.493 6.60706 26.6285 4.77945 22.5934 0.855588C21.419 -0.285847 19.5791 -0.285847 18.4047 0.855588C14.3706 4.77945 9.50604 6.60706 3.0976 6.60706C1.44153 6.60706 0.0936758 7.95398 0.0936758 9.61099C0.0936758 10.727 0.0719971 11.875 0.0484332 13.0909C-0.0599607 18.7651 -0.194746 25.8267 2.17484 32.237C3.47839 35.7622 5.45116 38.8246 8.03942 41.3412C10.9877 44.2075 14.8484 46.4809 19.515 48.0984C19.8327 48.2087 20.1635 48.2643 20.4991 48.2643C20.8346 48.2643 21.1664 48.2087 21.4831 48.0984C26.1497 46.4809 30.0113 44.2075 32.9597 41.3412C35.5479 38.8246 37.5207 35.7613 38.8242 32.237C41.1948 25.8258 41.06 18.7641 40.9516 13.09ZM30.6985 26.4836C30.6985 27.264 30.066 27.8974 29.2846 27.8974H24.7359V32.4471C24.7359 33.2276 24.1025 33.861 23.322 33.861H17.6789C16.8985 33.861 16.2651 33.2276 16.2651 32.4471V27.8974H11.7154C10.934 27.8974 10.3016 27.264 10.3016 26.4836V20.8405C10.3016 20.0601 10.934 19.4267 11.7154 19.4267H16.2651V14.877C16.2651 14.0965 16.8985 13.4631 17.6789 13.4631H23.322C24.1025 13.4631 24.7359 14.0965 24.7359 14.877V19.4267H29.2846C30.066 19.4267 30.6985 20.0601 30.6985 20.8405V26.4836Z"
            fill="url(#paint1_linear_153:5919)"
          />
          <defs>
            <linearGradient
              id="paint0_linear_153:5919"
              x1="13.1289"
              y1="23.8078"
              x2="29.9357"
              y2="23.8078"
              gradientUnits="userSpaceOnUse"
            >
              <stop offset="0.472701" stop-color="#F81C23" />
              <stop offset="1" stop-color="#ED8700" />
            </linearGradient>
            <linearGradient
              id="paint1_linear_153:5919"
              x1="9.94757e-08"
              y1="24.6051"
              x2="46.744"
              y2="24.6051"
              gradientUnits="userSpaceOnUse"
            >
              <stop offset="0.472701" stop-color="#F81C23" />
              <stop offset="1" stop-color="#ED8700" />
            </linearGradient>
          </defs>
        </svg>

        <h2 class="title">Saúde e higiene:</h2>
      </div>

      <p class="description">
        Em resposta ao Coronavírus (COVID-19), medidas adicionais de segurança e
        higiene estão sendo adotadas nesta acomodação.
      </p>

      <p class="description">
        Devido ao Coronavírus (COVID-19), esta acomodação está tomando medidas
        para ajudar a proteger a segurança de seus funcionários e hóspedes.
        Assim, alguns serviços e comodidades podem ter sido reduzidos ou estar
        indisponíveis.
      </p>

      <p class="description">
        Devido ao Coronavírus (COVID-19), o uso de máscara é obrigatório nas
        áreas comuns internas.
      </p>

      <p class="description">
        Todas as acomodações são limpas anteriormente e posteriormente ao
        check-in.
      </p>
    </div>
  </div>

  <hr />
</template>

<style lang="postcss" scoped>
hr {
  @apply my-2 lg:hidden;
}
.info {
  @apply w-full lg:bg-white lg:p-4 lg:my-2 rounded-xl bg-transparent p-0;
}
.title-container {
  @apply flex items-center gap-2 mt-2 mb-2;
}
.title {
  @apply font-semibold uppercase text-sm;
  font-family: Montserrat, sans-serif;
}
.description {
  @apply font-medium text-justify text-sm mt-1.5 lg:bg-gray-200 lg:p-2 lg:rounded-xl;
  font-family: Montserrat, sans-serif;
}
</style>
