<script lang="ts" setup>
import Map from "@/components/Map.vue";
</script>

<template>
  <hr />

  <div class="container-xl lg:flex lg:mt-10 gap-10 pb-10">
    <div
      class="
        lg:w-2/5
        flex flex-row
        lg:flex-col lg:p-4
        gap-6
        mb-4
        lg:mb-0 lg:bg-white
        rounded-xl
      "
    >
      <div class="flex items-center justify-center flex-col gap-2">
        <svg
          class="w-16 h-22 lg:w-18 lg:h-24"
          viewBox="0 0 89 132"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M63.6395 40.4272C63.6395 29.6504 54.8719 20.8828 44.0951 20.8828C33.3194 20.8828 24.5518 29.6504 24.5518 40.4272C24.5518 51.203 33.3184 59.9706 44.0951 59.9706C54.8719 59.9706 63.6395 51.203 63.6395 40.4272Z"
            fill="url(#paint0_linear_153:4701)"
          />
          <path
            d="M44.0951 108.797C47.1234 104.852 64.8782 80.4516 70.8553 72.2993C77.9642 62.6041 84.5223 52.8767 84.5223 40.4272C84.5223 18.1002 66.4221 0.00100708 44.0951 0.00100708L44.0901 0C21.7621 0 3.66895 18.0992 3.66895 40.4262C3.66895 52.8757 10.226 62.6041 17.335 72.2993C23.313 80.4516 44.0951 108.797 44.0951 108.797ZM16.8174 40.4272C16.8174 25.3855 29.0544 13.1484 44.0951 13.1484C59.1369 13.1484 71.3739 25.3855 71.3739 40.4272C71.3739 55.4679 59.1369 67.705 44.0951 67.705C29.0544 67.705 16.8174 55.4679 16.8174 40.4272Z"
            fill="url(#paint1_linear_153:4701)"
          />
          <path
            d="M58.9413 101.63C58.1407 102.724 43.953 121.683 43.953 121.683L29.2506 101.63H11.4505L0 132H88.19L76.7385 101.63H58.9413Z"
            fill="url(#paint2_linear_153:4701)"
          />
          <defs>
            <linearGradient
              id="paint0_linear_153:4701"
              x1="24.5518"
              y1="40.8099"
              x2="69.1156"
              y2="40.8099"
              gradientUnits="userSpaceOnUse"
            >
              <stop offset="0.472701" stop-color="#F81C23" />
              <stop offset="1" stop-color="#ED8700" />
            </linearGradient>
            <linearGradient
              id="paint1_linear_153:4701"
              x1="3.66895"
              y1="55.4651"
              x2="95.8496"
              y2="55.4651"
              gradientUnits="userSpaceOnUse"
            >
              <stop offset="0.472701" stop-color="#F81C23" />
              <stop offset="1" stop-color="#ED8700" />
            </linearGradient>
            <linearGradient
              id="paint2_linear_153:4701"
              x1="2.1397e-07"
              y1="117.113"
              x2="100.545"
              y2="117.113"
              gradientUnits="userSpaceOnUse"
            >
              <stop offset="0.472701" stop-color="#F81C23" />
              <stop offset="1" stop-color="#ED8700" />
            </linearGradient>
          </defs>
        </svg>

        <p
          class="w-max font-bold lg:text-xl"
          style="font-family: Nunito, 'sans-serif'"
        >
          Você estará aqui
        </p>
      </div>

      <div class="w-full lg:w-auto">
        <div class="location">
          <img src="../../../assets/icons/street.svg" alt="icone" />
          <p>Rua Engenheiro Nogueira</p>
        </div>
        <div class="location">
          <img src="../../../assets/icons/directions.svg" alt="icone" />
          <p>Nº 14325 - KM 25</p>
        </div>
        <div class="location">
          <img src="../../../assets/icons/builds.svg" alt="icone" />
          <p>Belo Horizonte-MG</p>
        </div>
      </div>
    </div>

    <hr />

    <Map />

    <hr class="mt-4" />
  </div>
</template>

<style lang="postcss" scoped>
hr {
  @apply my-4 lg:hidden;
}
.location {
  @apply flex gap-2 w-full font-bold rounded-xl p-2 mt-1;
  background: var(--color-cian);
}
</style>
