<script lang="ts" setup>
import { useRouter } from "vue-router";

import ButtonLike from "@/components/Button/ButtonLike.vue";
import Button from "@/components/Button/Button.vue";
import Tags from "@/components/Tags.vue";
import HotelSuites from "@/components/HotelSuites.vue";

const router = useRouter();

const onClick = () => router.push({ name: "Suite" });
</script>

<template>
  <div class="card">
    <div class="flex flex-col justify-between">
      <div class="relative">
        <img
          @click="onClick"
          class="rounded-2xl cursor-pointer"
          src="https://q-xx.bstatic.com/xdata/images/hotel/840x460/27090161.jpg?k=de4095c5d19b93865ff211cf363fe7b0d75fe1bf6ae47c94c82130282c92d2d3"
          alt="Foto do hotel"
        />
        <ButtonLike class="absolute top-2 right-4" />
      </div>

      <Button
        class="button-view lg:block hidden"
        style="width: 18rem"
        @click="onClick"
      >
        Ver disponibilidade
      </Button>
    </div>
    <div class="w-full mx-auto">
      <div>
        <div class="w-full flex justify-between">
          <div
            class="
              w-full
              lg:w-auto
              flex
              items-center
              border-b-4
              py-0.5
              rounded-sm
              lg:mr-10
            "
            style="border-color: var(--color-red)"
          >
            <span @click="onClick" class="title">Motel le Monde</span>
            <img
              v-for="n in 4"
              :key="n"
              class="hidden lg:inline mx-0.5"
              src="../../assets/icons/star-active.png"
              alt="Estrela"
            />
            <img
              v-for="n in 1"
              :key="n"
              class="hidden lg:inline mx-0.5"
              src="../../assets/icons/star-inactive.png"
              alt="Estrela"
            />
          </div>
          <p class="rate ml-auto">8.5</p>
        </div>

        <div
          class="
            w-full
            flex
            mt-2
            items-center
            justify-center
            gap-4
            lg:hidden
            text-xl
            sm:text-2xl
            font-bold
          "
        >
          <span>
            4.0
            <img
              class="inline mx-0.5"
              src="../../assets/icons/star-active.png"
              alt="emoji"
            />
          </span>

          <span>
            8.5
            <img
              class="inline mx-0.5"
              src="../../assets/icons/likes.svg"
              alt="emoji"
            />
          </span>

          <span>
            6.0 KM
            <img
              class="inline mx-0.5"
              src="../../assets/icons/distance.svg"
              alt="emoji"
            />
          </span>
        </div>

        <div class="w-full hidden lg:flex items-center gap-2 py-2">
          <a class="link" href="#">Santo Antônio, Monte Carlos</a>

          <svg
            width="8"
            height="8"
            viewBox="0 0 8 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="3.7" cy="3.7" r="3.5" fill="#C4C4C4" />
          </svg>

          <a class="link" href="#">Mostrar no mapa</a>

          <svg
            width="8"
            height="8"
            viewBox="0 0 8 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="3.7" cy="3.7" r="3.5" fill="#C4C4C4" />
          </svg>

          <a class="link" href="#">6,0 km do centro</a>

          <span class="subtitle ml-auto">1500 avaliações</span>
        </div>
      </div>

      <div class="flex flex-col lg:flex-row items-center">
        <HotelSuites />

        <div
          class="
            w-full
            lg:w-auto
            flex
            items-center
            justify-between
            mr-auto
            lg:ml-8
            mt-4
            font-bold
            text-3xl
            lg:text-5xl
          "
        >
          <div>
            <p class="subtitle">Quarto a partir de:</p>
            <span class="color-red mr-1.5">R$</span>
            <span>200</span>
            <span class="color-red">,</span>
            <span>00</span>
          </div>

          <div class="lg:hidden text-base sm:text-lg text-center">
            <span class="flex items-center gap-1">
              <i class="text-2xl color-red uil uil-clock-five"></i>
              07:00 - 15:59
            </span>
            <span class="flex items-center gap-1">
              <i class="text-2xl color-red uil uil-calendar-alt"></i>
              19 / 9 / 2021
            </span>
          </div>
        </div>
      </div>

      <div style="max-width: 650px">
        <Tags
          :slides-per-view="2.1"
          :breakpoints="{
            468: {
              slidesPerView: 3.5,
            },
          }"
        />
      </div>

      <Button
        class="button-view lg:hidden block"
        style="width: 100%; background: var(--from-blue-to-light)"
        @click="onClick"
      >
        Ver disponibilidade
      </Button>
    </div>
  </div>
</template>

<style lang="postcss" scoped>
.card {
  @apply w-11/12 lg:w-auto relative flex flex-col lg:flex-row gap-1 sm:gap-6 p-2 sm:p-4 rounded-2xl bg-white mx-auto;
  max-width: 500px;
  max-height: 700px;
}
@media (min-width: 1024px) {
  .card {
    max-width: 1070px;
  }
}

.title {
  @apply w-full lg:w-72 font-bold text-2xl text-center lg:text-left uppercase truncate cursor-pointer;
  font-family: Montserrat, sans-serif;
}

.rate {
  @apply hidden lg:block text-white font-bold text-2xl px-8 py-2 rounded-2xl;
  background: var(--from-red-to-yellow-90deg);
}

.link {
  @apply block text-sm font-bold;
  color: var(--color-blue);
}
.subtitle {
  @apply text-sm font-bold text-gray-600;
}

.color-red {
  color: var(--color-red);
}

.button-view {
  @apply rounded-xl text-xl uppercase mt-2;
  background: var(--from-red-to-yellow-90deg);
}
</style>
