<script lang="ts" setup>
import { useRouter } from "vue-router";

import ButtonLike from "@/components/Button/ButtonLike.vue";
import Button from "@/components/Button/Button.vue";
import Tags from "@/components/Tags.vue";
import HotelSuites from "@/components/HotelSuites.vue";

const router = useRouter();

const onClick = () => {
  router.push({ name: "Suite" });
};
</script>

<template>
  <div class="card">
    <div class="mb-3">
      <div class="relative">
        <img
          @click="onClick"
          class="rounded-2xl cursor-pointer"
          src="https://q-xx.bstatic.com/xdata/images/hotel/840x460/27090161.jpg?k=de4095c5d19b93865ff211cf363fe7b0d75fe1bf6ae47c94c82130282c92d2d3"
          alt="Foto do hotel"
        />
        <ButtonLike class="absolute top-2 right-4" />
      </div>
    </div>

    <div
      class="flex items-center justify-center mb-1.5"
      style="border-bottom: 3px solid var(--color-red)"
    >
      <span class="hotel-name">Motel le monde</span>
      <div class="flex items-center justify-around font-bold">
        <span class="flex items-center text-base mr-2">
          <i class="uil uil-star text-yellow-600 text-2xl mr-0.5"></i>
          4.0
        </span>
        <span class="flex items-center text-base">
          <i
            class="uil uil-thumbs-up text-2xl mr-0.5"
            style="color: var(--color-blue)"
          ></i>
          8.5
        </span>
      </div>
    </div>

    <div class="flex items-center gap-1.5">
      <a class="link" href="#">Santo Antônio, Monte Carlos</a>

      <svg
        width="8"
        height="8"
        viewBox="0 0 8 8"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="3.7" cy="3.7" r="3.5" fill="#C4C4C4" />
      </svg>

      <a class="link" href="#">Mostrar no mapa</a>

      <svg
        width="8"
        height="8"
        viewBox="0 0 8 8"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="3.7" cy="3.7" r="3.5" fill="#C4C4C4" />
      </svg>

      <a class="link" href="#">6,0 km do centro</a>
    </div>

    <HotelSuites />

    <div class="w-full relative">
      <Tags />
    </div>

    <div class="flex justify-around mt-2">
      <div class="text-2xl font-bold mr-4">
        <p class="ml-auto text-xs font-bold text-gray-600;">
          Quarto a partir de:
        </p>
        <span class="color-red mr-1.5">R$</span>
        <span>200</span>
        <span class="color-red">,</span>
        <span>00</span>
      </div>
      <Button class="button-view" @click="onClick">Ver disponibilidade</Button>
    </div>
  </div>
</template>

<style lang="postcss" scoped>
.card {
  @apply flex flex-col pt-4 px-4 pb-1.5 bg-white rounded-xl;
  width: 380px;
  max-height: 500px;
}

.hotel-name {
  @apply w-11/12 font-bold uppercase text-xl;
}

.link {
  @apply font-bold truncate;
  color: var(--color-blue);
  font-size: 10px;
}

.color-red {
  color: var(--color-red);
}

.button-view {
  @apply rounded-xl text-base uppercase;
  background: var(--from-blue-to-light);
}
</style>
