<script lang="ts" setup>
import { useRouter } from "vue-router";

import Button from "@/components/Button/Button.vue";
import ButtonLike from "@/components/Button/ButtonLike.vue";

const props = withDefaults(
  defineProps<{
    image: string;
    name: string;
    liked: boolean;
    location: string;
    price: number;
    starsRate: number;
    likesRate: number;
    feedbacks: number;
  }>(),
  {
    image: "",
    name: "",
    liked: false,
    location: "",
    price: -1,
    starsRate: -1,
    likesRate: -1,
    feedbacks: -1,
  }
);

const router = useRouter();

const onClick = () => {
  router.push({ name: "Suite" });
};
</script>

<template>
  <div class="card">
    <picture>
      <img
        width="350"
        height="375"
        class="rounded-t-xl"
        :src="image"
        alt="Foto de estabelecimento"
      />
    </picture>
    <ButtonLike class="absolute top-2 right-4" :liked="liked" />

    <div class="px-4 py-2">
      <p class="name">{{ name }}</p>
      <p class="location">{{ location }}</p>

      <div class="price">
        <span class="message">Quartos a partir de:</span>
        <div>
          <span class="symbol">R$</span>
          <span class="number">{{ price.toFixed(2).replace(".", ",") }}</span>
        </div>
      </div>

      <div
        class="
          flex
          items-center
          justify-center
          gap-1.5
          absolute
          bottom-36
          right-4
          text-2xl
          font-bold
        "
      >
        <i class="uil uil-star text-yellow-600 text-3xl"></i>
        <span>{{ starsRate.toFixed(1) }}</span>
      </div>

      <div
        class="
          flex
          items-center
          justify-center
          gap-1.5
          absolute
          bottom-28
          right-4
          text-2xl
          font-bold
        "
      >
        <i
          class="uil uil-thumbs-up text-3xl"
          style="color: var(--color-blue)"
        ></i>
        <span>{{ likesRate.toFixed(1) }}</span>
      </div>

      <span
        class="absolute right-4 text-sm text-bold"
        style="
          font-family: Poppins, sans-serif;
          color: var(--color-darked-gray);
          bottom: 5.5rem;
        "
      >
        {{ feedbacks }} avaliações
      </span>

      <Button class="button" @click="onClick">Reservar agora</Button>
    </div>
  </div>
</template>

<style lang="postcss" scoped>
.card {
  @apply relative bg-white mt-6 rounded-t-xl rounded-b-xl;
  max-width: 340px;
}

.name {
  @apply w-52 font-bold uppercase truncate;
}

.message {
  @apply font-bold uppercase text-xs;
  font-family: Poppins, sans-serif;
}

.location {
  @apply w-52 text-sm font-bold truncate;
  color: var(--color-blue);
}

.price {
  @apply font-bold text-sm my-4;
  font-family: Poppins, sans-serif;
}

.symbol {
  @apply text-3xl;
  color: var(--color-red);
  font-family: Roboto, sans-serif;
}

.number {
  @apply text-3xl;
  font-family: Roboto, sans-serif;
}

.button {
  @apply w-full h-10 uppercase text-base !important;
  background: var(--from-red-to-yellow-90deg) !important;
}
</style>
