<template>
  <div class="mt-6" style="width: 480px">
    <div class="card">
      <img
        width="270"
        height="190"
        class="rounded-xl"
        :src="suiteImage"
        style="height: 175px"
        alt="Foto do quarto"
      />

      <div>
        <p class="name">{{ suiteName }}</p>

        <div class="price">
          <span class="message">Por apenas:</span>
          <div>
            <span class="symbol">R$</span>
            <span class="number">{{
              suitePrice?.toFixed(2).replace(".", ",")
            }}</span>
            <span class="symbol ml-2 mr-1" style="font-size: 20px">/</span>
            <span class="font-bold uppercase text-base">hora</span>
          </div>
        </div>

        <div class="time">
          <span class="message">Acaba em:</span>
          <div class="flex justify-between">
            <div class="time-card">
              <p class="time-value">{{ time.hour }}</p>
              <p class="time-key">Horas</p>
            </div>
            <div class="time-card">
              <p class="time-value">{{ time.minutes }}</p>
              <p class="time-key">Minutos</p>
            </div>
            <div class="time-card">
              <p class="time-value">{{ time.seconds }}</p>
              <p class="time-key">Segundos</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-bottom">
      <div class="flex gap-1">
        <img
          class="w-22 h-12 rounded-lg"
          :src="hotelImage"
          alt="Foto do quarto"
        />

        <div class="bottom-title">
          {{ hotelName }}
        </div>
      </div>

      <Button class="button" @click="onClick">Reservar agora</Button>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref } from "vue";
import { useRouter } from "vue-router";

import Button from "@/components/Button/Button.vue";

const props = withDefaults(
  defineProps<{
    id: number;
    suiteImage: string;
    suiteName: string;
    suitePrice: number;
    offerEndAt: number;
    hotelImage: string;
    hotelName: string;
  }>(),
  {
    id: -1,
    suiteImage: "",
    suiteName: "",
    suitePrice: -1,
    offerEndAt: -1,
    hotelImage: "",
    hotelName: "",
  }
);

const router = useRouter();
const time = ref(getTime());

setInterval(() => (time.value = getTime()), 1000);

function getTime() {
  const currentTimestamp = new Date().getTime();
  const endAtTimestamp =
    Number(sessionStorage.getItem(`slide-${props.id}-timestamp`)) ||
    props.offerEndAt;
  const date = new Date(endAtTimestamp - currentTimestamp);

  sessionStorage.setItem(`slide-${props.id}-timestamp`, String(endAtTimestamp));

  return {
    hour: date.getHours(),
    minutes: date.getMinutes(),
    seconds: date.getSeconds(),
  };
}

const onClick = () => router.push({ name: "Suite" });
</script>

<style lang="postcss" scoped>
.card {
  @apply w-max grid sm:grid-cols-2 gap-3 bg-white mb-12 rounded-xl p-2;
  max-width: 480px;
}

.name {
  @apply inline w-48 font-bold uppercase truncate border-b-2;
  border-color: var(--color-red);
}

.message {
  @apply font-bold uppercase text-xs;
  font-family: Poppins, sans-serif;
}

.price,
.time {
  @apply font-bold text-sm my-2;
  font-family: Poppins, sans-serif;
}

.symbol {
  @apply text-3xl;
  color: var(--color-red);
  font-family: Roboto, sans-serif;
}

.number {
  @apply text-3xl;
  font-family: Roboto, sans-serif;
}

.time-card {
  @apply w-16 h-14 rounded-lg px-2 py-1;
  background-color: var(--color-light-pink);
}

.time-value {
  @apply text-center font-bold;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  line-height: 32px;
  color: var(--color-red);
}

.time-key {
  @apply text-center font-bold text-gray-900;
  font-family: Poppins, sans-serif;
  font-size: 10px;
}

.card-bottom {
  @apply w-max flex flex-col sm:flex-row items-center justify-between gap-2 bg-white p-1.5 rounded-lg;
  max-width: 480px;
  margin-top: -40px;
}

.bottom-title {
  @apply w-44 h-12 flex items-center pl-2 text-sm font-bold truncate bg-gray-300 rounded-lg uppercase;
  font-family: Poppins, sans-serif;
}

.button {
  @apply w-52 h-12 uppercase rounded-lg text-base !important;
  background: var(--from-red-to-yellow-90deg) !important;
}
</style>
