<script lang="ts" setup>
import { useRouter } from "vue-router";

import Button from "@/components/Button/Button.vue";

const props = withDefaults(
  defineProps<{
    image: string;
    title: string;
    description: string;
    hotelImage: string;
    hotelName: string;
  }>(),
  {
    image: "",
    title: "",
    description: "",
    hotelImage: "",
    hotelName: "",
  }
);

const router = useRouter();

const onClick = () => router.push({ name: "Procurar" });
</script>

<template>
  <div class="ticket">
    <div class="layer">
      <img src="../../assets/icons/layer-detail.svg" alt="Entalhes" />
    </div>

    <img class="rounded-b-3xl" :src="image" alt="Foto do ticket" />

    <div class="flex flex-wrap justify-center p-2">
      <div>
        <p class="title">{{ title }}</p>

        <hr class="hr" />
      </div>

      <p class="description">{{ description }}</p>

      <div class="w-full flex items-center mt-4">
        <img
          style="width: 36px; height: 36px"
          class="hotel-image"
          :src="hotelImage"
          alt="Foto do hotel"
        />
        <a class="text-xs font-bold text-center ml-2 hover:underline" href="#">
          {{ hotelName }}
        </a>
        <Button class="button ml-auto" @click="onClick">Descubra</Button>
      </div>
    </div>
  </div>
</template>

<style lang="postcss" scoped>
.hr {
  @apply h-1 rounded-full;
  background-image: var(--from-red-to-yellow-90deg);
}

.ticket {
  @apply relative bg-white rounded-t-3xl;
  width: 300px;
  height: 420px;
}
.ticket:before {
  @apply w-14 h-16 block absolute bg-gray-50 rounded-full;
  content: "";
  z-index: 2;
}

.ticket::before {
  top: -45px;
  right: 120px;
  clip-path: circle(100% at 100% 50%);
}
.layer {
  @apply h-16 flex items-center pt-4 justify-center rounded-t-3xl bg-white;
  background: var(--from-red-to-yellow-270deg);
}

.title {
  @apply w-60 font-bold text-base text-center uppercase truncate;
  font-family: Montserrat, sans-serif;
}

.description {
  @apply bg-gray-300 text-xs rounded-lg mt-1 px-2 py-1 mt-3 font-medium;
  font-family: Montserrat, sans-serif;
}

.hotel-image {
  @apply rounded-full border-2;
  border-color: var(--color-red);
}

.button {
  @apply w-28 h-7 uppercase rounded-lg text-sm !important;
  background: var(--from-red-to-yellow-90deg) !important;
}
</style>
