<script lang="ts" setup>
import { useRouter } from "vue-router";

import InputDefault from "@/components/Input/Default.vue";
import FooterDefault from "@/components/Footer/Default.vue";
import NextButton from "@/components/Button/NextButton.vue";
import ContentImage from "@/components/ContentImage.vue";

const router = useRouter();

const onClick = () => {
  router.push({ name: "Payment" });
};
</script>

<template>
  <div
    class="px-4 sm:px-10 pt-6"
    style="min-height: 100vh; background: var(--from-red-to-yellow-90deg)"
  >
    <ContentImage
      title="Revisão de dados"
      image="https://q-xx.bstatic.com/xdata/images/hotel/840x460/27090161.jpg?k=de4095c5d19b93865ff211cf363fe7b0d75fe1bf6ae47c94c82130282c92d2d3"
    >
      <div class="h-full flex flex-col justify-around gap-4 mt-4">
        <div class="flex items-center gap-2">
          <div
            class="
              w-10
              h-10
              bg-red-200
              flex
              items-center
              justify-center
              rounded-lg
            "
          >
            <i class="uil uil-map-marker text-2xl text-red-600"></i>
          </div>
          <div class="font-medium">
            <p class="text-sm text-gray-400">Local:</p>
            <p>Motel Le Monde, Suíte Super Luxo</p>
          </div>
        </div>

        <div class="flex items-center gap-2">
          <div
            class="
              w-10
              h-10
              bg-red-200
              flex
              items-center
              justify-center
              rounded-lg
            "
          >
            <i class="uil uil-calender text-2xl text-red-600"></i>
          </div>
          <div class="font-medium">
            <p class="text-sm text-gray-400">Data e Horário:</p>
            <span>Dia 23 de agosto </span>
            <span class="mx-0.5 sm:mx-10" style="color: var(--color-red)">
              |
            </span>
            <span>12:00-18:00</span>
          </div>
        </div>

        <div class="flex items-center gap-2">
          <div
            class="
              w-10
              h-10
              bg-red-200
              flex
              items-center
              justify-center
              rounded-lg
            "
          >
            <i class="uil uil-shopping-bag text-2xl text-red-600"></i>
          </div>
          <div class="font-medium">
            <p class="text-sm text-gray-400">Adicionais:</p>
            <p>Balde de Champagne</p>
          </div>
        </div>
      </div>
    </ContentImage>
    <div
      class="
        container-xl
        w-full
        h-full
        gap-6
        bg-white
        p-4
        rounded-2xl
        mt-4
        font-medium
        text-sm
        sm:text-base
      "
      style="max-width: 1000px"
    >
      <div
        class="
          uppercase
          text-center text-xl
          sm:text-2xl
          py-1
          mb-2
          font-bold
          bg-red-200
          rounded-xl
        "
        style="font-family: Poppins, sans-serif"
      >
        <span class="uppercase font-bold">resumo</span>
        <span style="color: var(--color-red)">:</span>
      </div>
      <div class="flex item-center justify-between mt-2">
        <p>04 HRS em Suíte Super Luxo</p>
        <p>+ R$ 200,00</p>
      </div>
      <div class="flex item-center justify-between mt-2">
        <p>Balde de Champagne</p>
        <p>+ R$ 50,00</p>
      </div>
      <div class="flex item-center justify-between mt-2">
        <p>Descontos</p>
        <p>- R$ 0,00</p>
      </div>

      <hr class="hr" />

      <div class="flex item-center justify-between my-2 font-bold text-xl">
        <div>
          <span>TOTAL</span>
          <span class="ml-0.5" style="color: var(--color-red)">:</span>
        </div>

        <div>
          <span class="mr-1" style="color: var(--color-red)">R$</span>
          <span>250</span>
          <span class="mx-0.5" style="color: var(--color-red)">,</span>
          <span>00</span>
        </div>
      </div>

      <InputDefault placeholder="inserir cupom" />
    </div>

    <div class="container-xl flex flex-row gap-4 px-2 sm:px-0 pt-4 pb-6">
      <NextButton @click="onClick">Prosseguir</NextButton>
    </div>

    <FooterDefault class="hidden lg:block container-xl pb-10" />
  </div>
</template>

<style lang="postcss" scoped>
.hr {
  @apply h-1 rounded-full mx-auto my-2;
  background-image: var(--from-red-to-yellow-90deg);
}
</style>
