<script lang="ts" setup>
import InputDefault from "@/components/Input/Default.vue";
import InputCheckbox from "@/components/Input/Checkbox.vue";
import NextButton from "@/components/Button/NextButton.vue";
</script>

<template>
  <div
    class="py-8"
    style="min-height: 100vh; background: var(--from-red-to-yellow-90deg)"
  >
    <div class="card container-xl">
      <p class="title">Identificação</p>

      <div class="flex flex-col gap-10 mt-4 mb-8">
        <InputDefault label="Nome Completo" />

        <div class="flex flex-row gap-4">
          <InputDefault type="date" label="Data de nascimento" />
          <InputDefault label="Gênero" />
        </div>

        <InputDefault label="Telefone" v-maska="'(##) #####-####'" />
      </div>
    </div>
    <div class="card container-xl mt-4">
      <p class="title">Informações para login</p>

      <div class="flex flex-col gap-10 mt-4 mb-8">
        <InputDefault type="email" label="Email" />

        <InputDefault type="password" label="Senha" />

        <InputDefault type="password" label="Confirmar senha" />
      </div>
    </div>
    <div class="card container-xl mt-4">
      <InputCheckbox>Afirmo ser maior de 18 anos.</InputCheckbox>
      <InputCheckbox>
        Aceito os <a href="#">TERMOS DE USO</a> da Hora H.
      </InputCheckbox>
      <InputCheckbox> Aceito os emails promocionais da Hora H. </InputCheckbox>
    </div>

    <div class="w-11/12 sm:w-8/12 flex items-center container-xl mt-4">
      <NextButton>Finalizar cadastro</NextButton>
    </div>
  </div>
</template>

<style lang="css" scoped>
.card {
  @apply bg-white p-2 w-11/12 sm:w-8/12 rounded-2xl;
}
.title {
  @apply w-full h-10 text-center text-white font-medium text-xl py-1.5 mx-auto rounded-xl uppercase font-poppins;
  background: var(--from-red-to-yellow-90deg);
}
a {
  @apply text-transparent bg-clip-text;
  background-image: var(--from-red-to-yellow-90deg);
}
</style>
