<template>
  <div style="margin-left: -25px">
    <img src="../../../assets/icons/hands.svg" alt="icone" />
  </div>
  <div>
    <img src="../../../assets/icons/hands.svg" alt="icone" />
  </div>

  <div>
    <img src="../../../assets/icons/hands.svg" alt="icone" />
  </div>

  <div>
    <img src="../../../assets/icons/hands.svg" alt="icone" />
  </div>

  <div>
    <img src="../../../assets/icons/hands.svg" alt="icone" />
  </div>
</template>

<style lang="postcss" scoped></style>
