<template>
  <div
    v-if="active"
    class="
      modal
      transition-opacity
      z-50
      fixed
      w-full
      h-full
      top-0
      left-0
      flex
      items-center
      justify-center
    "
    :class="!active && 'opacity-0 pointer-events-none'"
  >
    <div
      class="absolute w-full h-full bg-gray-900 opacity-50 modal-overlay"
    ></div>

    <div
      class="
        z-50
        mx-auto
        overflow-y-auto
        bg-white
        rounded
        shadow-lg
        modal-container
        rounded-3xl
      "
    >
      <div
        class="relative overflow-hidden flex gap-8"
        style="width: 340px; height: 450px"
      >
        <HandsBackground />

        <img
          class="absolute top-8"
          src="../../../assets/img/message.webp"
          alt="Mensagem"
        />

        <div class="absolute top-24 left-16">
          <svg
            width="212"
            height="212"
            viewBox="0 0 298 297"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g filter="url(#filter0_d_153:9205)">
              <circle cx="148.862" cy="145.765" r="134.24" fill="#FF4810" />
            </g>
            <circle cx="154.016" cy="145.239" r="116.132" fill="white" />
            <path
              d="M270.333 108.288H255.244C249.037 108.288 244.542 114.18 246.154 120.174C248.424 128.619 249.634 137.499 249.631 146.662C249.613 202.36 203.698 248.259 147.999 248.259C91.8714 248.258 46.3695 202.756 46.3689 146.629C46.3684 90.9307 92.2677 45.015 147.966 44.997C157.129 44.9938 166.008 46.2044 174.453 48.4747C180.448 50.0858 186.34 45.5914 186.34 39.3841V24.295C186.34 19.9077 183.309 16.1142 179.038 15.1102C169.318 12.8246 159.191 11.5875 148.789 11.5281C74.0496 11.0995 12.8975 71.8876 12.8975 146.628C12.8975 221.245 73.3831 281.73 147.999 281.73C222.74 281.73 283.528 220.578 283.1 145.838C283.041 135.437 281.804 125.31 279.518 115.589C278.514 111.318 274.72 108.288 270.333 108.288Z"
              fill="#FF4910"
            />
            <path
              d="M262.271 108.286H255.244C249.037 108.286 244.542 114.178 246.153 120.172C248.424 128.617 249.634 137.497 249.631 146.66C249.613 202.358 203.697 248.257 147.999 248.257C91.8711 248.256 46.3692 202.754 46.3687 146.627C46.3681 90.9288 92.2675 45.0131 147.966 44.9951C157.128 44.9919 166.008 46.2025 174.453 48.4728C180.447 50.0839 186.34 45.5895 186.34 39.3822V32.3548C174.344 28.3362 161.509 26.1465 148.16 26.1295C82.0754 26.0431 28.363 78.9609 27.5131 145.04C26.6405 212.843 81.7824 267.985 149.586 267.112C215.665 266.262 268.582 212.55 268.496 146.465C268.479 133.116 266.289 120.282 262.271 108.286Z"
              fill="#F42A25"
            />
            <path
              d="M97.0874 114.95L92.3398 117.897C90.8664 118.879 89.3924 119.206 88.2475 119.206C83.4998 119.206 80.2256 114.131 80.2256 109.057C80.2256 105.619 81.699 102.345 84.9732 100.381L106.582 87.2842C107.891 86.4656 109.528 86.1382 111.329 86.1382C116.567 86.1382 122.625 89.2487 122.625 94.1601V198.275C122.625 203.514 116.24 206.133 109.856 206.133C103.471 206.133 97.0874 203.514 97.0874 198.275V114.95Z"
              fill="#303030"
            />
            <path
              d="M211.846 115.604C211.846 129.191 205.297 137.376 195.639 140.65C207.754 144.742 215.774 154.565 215.774 171.426V173.391C215.774 197.783 198.259 207.113 175.668 207.113C153.076 207.113 135.396 197.782 135.396 173.391V171.426C135.396 154.565 143.582 144.743 155.696 140.65C146.037 137.376 139.489 129.191 139.489 115.604C139.489 95.1406 154.55 86.4644 175.668 86.4644C196.785 86.4644 211.846 95.1406 211.846 115.604ZM190.236 166.679C190.236 156.038 184.834 151.127 175.667 151.127C166.499 151.127 160.933 156.038 160.933 166.679V170.28C160.933 181.576 166.663 186.65 175.667 186.65C184.998 186.65 190.236 181.248 190.236 170.28V166.679ZM164.044 118.877C164.044 127.39 168.301 130.664 175.667 130.664C183.034 130.664 187.29 127.39 187.29 118.877C187.29 110.528 183.034 106.927 175.667 106.927C168.301 106.927 164.044 110.528 164.044 118.877Z"
              fill="#303030"
            />
            <path
              d="M265.322 43.1956H253.556V31.4292C253.556 23.1256 246.825 16.3945 238.521 16.3945C230.218 16.3945 223.487 23.1256 223.487 31.4292V43.1956H211.72C203.417 43.1956 196.686 49.9267 196.686 58.2303C196.686 66.5339 203.417 73.265 211.72 73.265H223.487V85.0313C223.487 93.335 230.218 100.066 238.521 100.066C246.825 100.066 253.556 93.335 253.556 85.0313V73.265H265.322C273.626 73.265 280.357 66.5339 280.357 58.2303C280.357 49.9267 273.626 43.1956 265.322 43.1956Z"
              fill="#FFD945"
            />
            <path
              d="M253.556 85.0308V73.2645H265.323C273.626 73.2645 280.357 66.5334 280.357 58.2298C280.357 49.9262 273.626 43.1951 265.323 43.1951H253.556V31.4288C253.556 23.1251 246.825 16.394 238.521 16.394V100.066C246.825 100.066 253.556 93.3345 253.556 85.0308Z"
              fill="black"
              fill-opacity="0.06"
            />
            <defs>
              <filter
                id="filter0_d_153:9205"
                x="0.475226"
                y="0.207915"
                width="296.774"
                height="296.774"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
              >
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix
                  in="SourceAlpha"
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha"
                />
                <feMorphology
                  radius="5.65874"
                  operator="dilate"
                  in="SourceAlpha"
                  result="effect1_dropShadow_153:9205"
                />
                <feOffset dy="2.82937" />
                <feGaussianBlur stdDeviation="4.24405" />
                <feComposite in2="hardAlpha" operator="out" />
                <feColorMatrix
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"
                />
                <feBlend
                  mode="normal"
                  in2="BackgroundImageFix"
                  result="effect1_dropShadow_153:9205"
                />
                <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="effect1_dropShadow_153:9205"
                  result="shape"
                />
              </filter>
            </defs>
          </svg>
        </div>

        <p
          class="
            w-11/12
            absolute
            bottom-20
            left-4
            font-bold
            bg-white
            p-2
            rounded-xl
          "
        >
          Esse site apresenta conteúdo exclusivo para maiores de 18 anos.
        </p>

        <button class="button" @click="toggle(true)">
          afirmo que tenho mais de 18 anos e quero continuar nesse site
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref } from "vue";

import HandsBackground from "./HandsBackground.vue";

const active = ref(!Number(sessionStorage.getItem("+18")));

const toggle = (confirmed: boolean) => {
  if (!confirmed) return;
  active.value = !active.value;
  sessionStorage.setItem("+18", "1");
};
</script>

<style lang="postcss" scoped>
.button {
  @apply absolute bottom-6 mx-4 text-sm font-bold rounded-xl text-white uppercase py-1.5;
  background: var(--from-red-to-yellow-90deg);
}
</style>
