<script lang="ts" setup>
import { useRouter } from "vue-router";

import Button from "@/components/Button/Button.vue";
import FooterDefault from "@/components/Footer/Default.vue";

const router = useRouter();

const isSuccess = !router.currentRoute.value.query.isError;

const goToPayment = () => {
  router.push({ name: "Payment" });
};

const goToHome = () => {
  router.push({ name: "Home" });
};
</script>

<template>
  <div
    class="p-4"
    style="min-height: 100vh; background: var(--from-red-to-yellow-90deg)"
  >
    <div
      class="
        sm:w-max
        flex
        items-center
        flex-row
        container-xl
        bg-white
        my-4
        rounded-2xl
      "
    >
      <div class="p-6 lg:ml-10 lg:p-0">
        <p class="text-2xl sm:text-3xl lg:text-4xl font-bold text-gray-400">
          {{ isSuccess ? "Sua reserva foi feita" : "Opa, algo deu errado..." }}
        </p>
        <p
          class="text-3xl sm:text-4xl font-bold uppercase"
          :class="
            isSuccess
              ? 'color-green sm:text-5xl lg:text-6xl'
              : 'color-red sm:text-5xl'
          "
        >
          {{ isSuccess ? "Com sucesso!" : "Confira seus dados" }}
        </p>
        <p
          v-if="isSuccess"
          class="
            text-xl
            sm:text-2xl
            lg:text-3xl
            mt-4
            text-gray-400
            uppercase
            font-medium
          "
        >
          <span style="color: var(--color-red)">#</span>
          PEDIDO N° 455468
        </p>

        <img
          v-if="isSuccess"
          class="block lg:hidden mx-auto"
          src="../../assets/img/angel-happy.webp"
          alt="Sucesso"
        />
        <img
          v-else
          class="block lg:hidden mx-auto"
          src="../../assets/img/angel-sad.webp"
          alt="Sucesso"
        />

        <p
          class="sm:w-96 text-justify font-bold my-5 lg:my-10 mx-auto lg:mx-0"
          style="font-family: Poppins, sans-serif"
        >
          {{
            isSuccess
              ? `Seu voucher foi enviado por email juntamente com o comprovante.
          Obrigado por fazer parte da nossa história! Aproveite ;)`
              : "Seu pagamento foi negado. Por favor, confira se os dados foram inseridos corretamente ou se o valor está dentro do limite."
          }}
        </p>
        <Button
          v-if="isSuccess"
          class="uppercase"
          style="width: 100%; background: var(--from-red-to-yellow-90deg)"
        >
          Baixar voucher
        </Button>
        <Button
          v-else
          @click="goToPayment"
          class="uppercase"
          style="width: 100%; background: var(--from-red-to-yellow-90deg)"
        >
          Alterar meio de pagamento
        </Button>
        <Button
          @click="goToHome"
          class="uppercase mt-2"
          style="width: 100%; background: var(--from-blue-to-light)"
        >
          Voltar ao menu principal
        </Button>
      </div>

      <img
        v-if="isSuccess"
        class="hidden lg:block"
        src="../../assets/img/success-message.webp"
        alt="Sucesso"
      />
      <img
        v-else
        class="hidden lg:block"
        src="../../assets/img/error-message.webp"
        alt="Sucesso"
      />
    </div>

    <div class="hidden lg:block container-xl py-4 px-12">
      <FooterDefault />
    </div>
  </div>
</template>

<style lang="postcss" scoped>
.color-green {
  color: var(--color-green);
}
.color-red {
  color: var(--color-red);
}
button {
  @apply text-base sm:text-xl;
}
</style>
