<script lang="ts" setup>
import { ref } from "vue";

import ModalLogin from "@/components/Modals/Login.vue";

const modalLoginActive = ref(false);
const modalLoginToggle = () =>
  (modalLoginActive.value = !modalLoginActive.value);
</script>

<template>
  <ModalLogin :toggle="modalLoginToggle" :active="modalLoginActive" />

  <div class="links">
    <router-link class="link" :class="{ active: $route.path === '/' }" to="/">
      <i class="uil uil-estate icon"></i>
      <span>Home</span>
    </router-link>
    <router-link class="link" to="/">
      <i class="uil uil-fire icon"></i>
      <span>Ofertas</span>
    </router-link>
    <router-link class="link" to="/">
      <i class="uil uil-ticket icon"></i>
      <span>Reservas</span>
    </router-link>
    <div class="link" @click="modalLoginToggle">
      <i class="uil uil-user icon"></i>
      <span>Conta</span>
    </div>
  </div>
</template>

<style lang="postcss" scoped>
.links {
  @apply w-full md:hidden sticky bg-white flex items-center justify-around bottom-0 py-1 overflow-hidden;
  height: 70px;
  z-index: 1001;
}

.link {
  @apply flex flex-col items-center justify-around font-bold text-gray-300 text-xs transition pt-2 px-1.5 rounded-xl cursor-pointer;
  font-family: Poppins, sans-serif;
}

.link.active .icon {
  @apply bg-red-200 text-red-500;
}

.icon {
  @apply text-3xl
  transition
  hover:bg-red-200
  hover:text-red-500
  px-6
  py-1
  rounded-xl;
}
</style>
