<template>
  <ModalLogin :active="modalLoginActive" :toggle="modalLoginToggle" />
  <nav class="bg-white">
    <div
      class="
        container-xl
        w-full
        h-full
        bg-white
        hidden
        md:flex
        items-center
        justify-around
        h-6
        py-2
        gap-2
      "
    >
      <router-link class="link" to="/">
        <img class="w-36 mb-4" src="../../assets/img/logo.webp" alt="Logo" />
      </router-link>

      <div class="links">
        <router-link class="link" to="/">Home</router-link>
        <router-link class="link" to="#">Promoções</router-link>
        <router-link class="link" to="/procurar">Suítes</router-link>
        <router-link class="link" to="#">Contato</router-link>
      </div>
      <Button @click="modalLoginToggle">Login</Button>
    </div>
  </nav>
</template>

<script lang="ts" setup>
import { ref } from "vue";

import Button from "@/components/Button/Button.vue";
import ModalLogin from "@/components/Modals/Login.vue";

const modalLoginActive = ref(false);
const modalLoginToggle = () =>
  (modalLoginActive.value = !modalLoginActive.value);
</script>

<style lang="postcss" scoped>
.links {
  @apply flex items-center gap-2 lg:gap-4 rounded-full;
  background: var(--color-ligth-gray);
}

.link {
  @apply font-bold text-xl transition hover:bg-gray-300 py-2 px-4 rounded-full;
  font-family: Poppins, sans-serif;
}
</style>
