<script lang="ts" setup>
import { Swiper, SwiperSlide } from "swiper/vue";
import { swiperMouseEvent } from "@/utils";
</script>

<template>
  <swiper
    @mouseenter="swiperMouseEvent.enter"
    @mouseleave="swiperMouseEvent.leave"
    :autoplay="{
      delay: 2500,
      disableOnInteraction: true,
    }"
    style="background: transparent"
    :breakpoints="{
      1024: {
        slidesPerView: 5.5,
      },
      768: {
        slidesPerView: 3.3,
      },
      640: {
        slidesPerView: 3.3,
      },
      520: {
        slidesPerView: 2.8,
      },
      456: {
        slidesPerView: 2.5,
      },
      380: {
        slidesPerView: 2.1,
      },
      0: {
        slidesPerView: 1.8,
      },
    }"
  >
    <swiper-slide>
      <div class="benefit">
        <div class="icon-container">
          <img
            class="icon"
            src="../assets/icons/hidromassagem.svg"
            alt="icone"
          />
        </div>
        <span>Hidromassagem</span>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="benefit">
        <div class="icon-container">
          <img class="icon" src="../assets/icons/ar.svg" alt="icone" />
        </div>
        <span>Ar-Condicionado</span>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="benefit">
        <div class="icon-container">
          <img class="icon" src="../assets/icons/garagem.svg" alt="icone" />
        </div>
        <span>Garagem p/2 carros</span>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="benefit">
        <div class="icon-container">
          <img class="icon" src="../assets/icons/piscina.svg" alt="icone" />
        </div>
        <span>Piscina térmica</span>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="benefit">
        <div class="icon-container">
          <img class="icon" src="../assets/icons/audio.svg" alt="icone" />
        </div>
        <span>Audio System</span>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="benefit">
        <div class="icon-container">
          <img class="icon" src="../assets/icons/bar.svg" alt="icone" />
        </div>
        <span>Mini-bar</span>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="benefit">
        <div class="icon-container">
          <img class="icon" src="../assets/icons/sauna.svg" alt="icone" />
        </div>
        <span>Sauna</span>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="benefit">
        <div class="icon-container">
          <img class="icon" src="../assets/icons/tv.svg" alt="icone" />
        </div>
        <span>TV LCD 42'</span>
      </div>
    </swiper-slide>
  </swiper>
</template>

<style lang="postcss" scoped>
.swiper-slide {
  @apply flex justify-center my-2 !important;
}
.benefit {
  @apply flex items-center text-sm font-medium rounded-full mr-4;
  width: 100%;
  min-width: max-content;
  border: double 2px transparent;
  border-radius: 20px;
  background-image: linear-gradient(white, white),
    var(--from-red-to-yellow-90deg);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.benefit span {
  @apply w-max mx-1;
}
.icon-container {
  @apply flex items-center justify-center;
  width: 36px;
  height: 36px;
  border-radius: 16px 0 16px 16px;
  background: var(--from-red-to-yellow-90deg);
}
.icon {
  width: 24px;
  height: 22px;
}
</style>
