<template>
  <div class="bg-white shadow-lg rounded-xl" style="max-width: 450px">
    <div class="flex flex-col sm:flex-row gap-4 pt-4 px-4">
      <div class="flex items-center my-auto gap-2 flex-col">
        <img
          style="width: 56px; height: 56px"
          src="../assets/img/avatar-empty.webp "
          alt="Avatar"
        />
        <p class="font-bold text-sm">Matheuxxx</p>
        <p class="font-bold text-sm" style="color: var(--color-blue)">
          Há 10 dias
        </p>
      </div>

      <p class="bg-gray-100 p-4 rounded-xl text-sm text-justify font-medium">
        Já me hospedei duas vezes no le monde. Tudo foi muito agradável. Mas nas
        duas hospedagem motos a sujeira do chão. Ao andarmos descalços
        observamos os pés manchados da sujeira do chão.
      </p>
    </div>

    <div
      class="
        flex
        items-center
        justify-center
        flex-wrap
        gap-2
        py-3
        font-bold
        text-xs
        uppercase
      "
    >
      <div class="tag" style="background: var(--color-light-purple)">
        <img src="../assets/icons/shield.svg" alt="icone" />
        <span>verificado</span>
      </div>

      <div class="tag" style="background: var(--color-light-green)">
        <img src="../assets/icons/happy-face-green.svg" alt="icone" />
        retornaria
      </div>

      <div class="tag" style="background: var(--color-pink)">
        <span class="text-base" style="color: var(--color-red)">9.8</span>
        avaliação
      </div>
    </div>
  </div>
</template>

<style lang="css" scoped>
.tag {
  @apply px-4 flex items-center justify-center gap-2 py-2 rounded-xl text-sm;
}
.tag img {
  @apply w-6 h-6;
}
</style>
