<script lang="ts" setup>
const props = withDefaults(
  defineProps<{
    title: string;
    image: string;
    imageMaxHeight?: string | number;
    dontHideImage?: boolean;
  }>(),
  {
    title: "",
    image: "",
    imageMaxHeight: 250,
    dontHideImage: false,
  }
);
</script>

<template>
  <div
    class="
      container-xl
      w-full
      h-full
      flex flex-col-reverse
      lg:grid lg:grid-cols-2
      gap-6
      bg-white
      p-4
      rounded-2xl
    "
    style="max-width: 1000px"
  >
    <div class="flex flex-col">
      <p class="title uppercase">{{ title }}</p>

      <slot />
    </div>
    <img
      class="rounded-xl mx-auto"
      :class="!dontHideImage && 'hidden sm:block'"
      :style="`max-height: ${imageMaxHeight}px`"
      :src="image"
      alt="Foto"
    />
  </div>
</template>

<style lang="postcss" scoped>
.title {
  @apply h-10 text-center text-white font-medium text-xl py-1.5 rounded-xl;
  font-family: Poppins, sans-serif;
  background: var(--from-red-to-yellow-90deg);
}
</style>
