<script lang="ts" setup>
import { ref } from "vue";

import { getIntegerAndFloat } from "@/utils";

const emit = defineEmits(["change-amount"]);
const props = withDefaults(
  defineProps<{
    id: number;
    title: string;
    description: string;
    price: number;
    image: string;
  }>(),
  {
    id: -1,
    title: "",
    description: "",
    price: -1,
    image: "",
  }
);

const amount = ref(0);
const priceFormatted = getIntegerAndFloat(props.price);

const addAmount = () => {
  emit("change-amount", {
    id: props.id,
    amount: ++amount.value,
    price: props.price,
  });
};

const subAmount = () => {
  if (amount.value === 0) return;
  emit("change-amount", {
    id: props.id,
    amount: --amount.value,
    price: props.price,
  });
};
</script>

<template>
  <div
    class="
      flex flex-col-reverse
      items-center
      sm:flex-row
      justify-center
      gap-4
      bg-white
      p-4
      rounded-xl
      mt-4
    "
  >
    <div>
      <p class="title">{{ title }}</p>
      <p class="description">{{ description }}</p>
      <div class="flex items-center justify-between mt-4">
        <div class="w-max flex items-center flex-col">
          <span class="uppercase font-medium text-xs">quantidade</span>
          <div
            class="
              flex flex-row
              items-center
              gap-2
              bg-gray-100
              rounded-xl
              w-max
              h-9
              px-4
            "
          >
            <svg
              class="cursor-pointer"
              @click="subAmount"
              width="30"
              height="37"
              viewBox="0 0 30 37"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g filter="url(#filter0_d_153:10433)">
                <rect
                  x="4.17969"
                  y="7.91406"
                  width="21"
                  height="20.5714"
                  rx="6.63794"
                  fill="url(#paint0_linear_153:10433)"
                />
              </g>
              <path
                d="M20.0188 17.5244V19.903H9.83532V17.5244H20.0188Z"
                fill="white"
              />
              <defs>
                <filter
                  id="filter0_d_153:10433"
                  x="0.307555"
                  y="4.59509"
                  width="28.7443"
                  height="28.3156"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
                >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix
                    in="SourceAlpha"
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"
                  />
                  <feOffset dy="0.553162" />
                  <feGaussianBlur stdDeviation="1.93607" />
                  <feColorMatrix
                    type="matrix"
                    values="0 0 0 0 0.94902 0 0 0 0 0.298039 0 0 0 0 0.235294 0 0 0 0.46 0"
                  />
                  <feBlend
                    mode="normal"
                    in2="BackgroundImageFix"
                    result="effect1_dropShadow_153:10433"
                  />
                  <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="effect1_dropShadow_153:10433"
                    result="shape"
                  />
                </filter>
                <linearGradient
                  id="paint0_linear_153:10433"
                  x1="4.17969"
                  y1="18.4015"
                  x2="28.1217"
                  y2="18.4015"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop offset="0.472701" stop-color="#F81C23" />
                  <stop offset="1" stop-color="#ED8700" />
                </linearGradient>
              </defs>
            </svg>

            <span class="font-bold">{{
              amount.toLocaleString("en-US", {
                minimumIntegerDigits: 2,
                useGrouping: false,
              })
            }}</span>

            <svg
              class="cursor-pointer"
              @click="addAmount"
              width="29"
              height="38"
              viewBox="0 0 29 38"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g filter="url(#filter0_d_153:10426)">
                <rect
                  x="4.01953"
                  y="8.07227"
                  width="21.0201"
                  height="21.0201"
                  rx="6.63794"
                  fill="url(#paint0_linear_153:10426)"
                />
              </g>
              <path
                d="M20.9352 19.9283H15.9302V25.0572H13.3038V19.9283H8.29878V17.5496H13.3038V12.4207H15.9302V17.5496H20.9352V19.9283Z"
                fill="white"
              />
              <defs>
                <filter
                  id="filter0_d_153:10426"
                  x="0.147399"
                  y="4.75329"
                  width="28.7638"
                  height="28.7643"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
                >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix
                    in="SourceAlpha"
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"
                  />
                  <feOffset dy="0.553162" />
                  <feGaussianBlur stdDeviation="1.93607" />
                  <feColorMatrix
                    type="matrix"
                    values="0 0 0 0 0.94902 0 0 0 0 0.298039 0 0 0 0 0.235294 0 0 0 0.46 0"
                  />
                  <feBlend
                    mode="normal"
                    in2="BackgroundImageFix"
                    result="effect1_dropShadow_153:10426"
                  />
                  <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="effect1_dropShadow_153:10426"
                    result="shape"
                  />
                </filter>
                <linearGradient
                  id="paint0_linear_153:10426"
                  x1="4.01953"
                  y1="18.7884"
                  x2="27.9845"
                  y2="18.7884"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop offset="0.472701" stop-color="#F81C23" />
                  <stop offset="1" stop-color="#ED8700" />
                </linearGradient>
              </defs>
            </svg>
          </div>
        </div>
        <div class="w-max flex items-center flex-col">
          <span class="uppercase font-medium text-xs">preço</span>
          <div
            class="
              flex
              items-center
              bg-gray-100
              rounded-xl
              w-max
              h-9
              px-4
              text-xl
            "
          >
            <span class="font-bold color-red mr-1">R$</span>
            <span class="font-bold">{{ priceFormatted.integer }}</span>
            <span class="font-bold color-red">,</span>
            <span class="font-bold">{{ priceFormatted.float }}</span>
          </div>
        </div>
      </div>
    </div>
    <img class="w-52 h-40 rounded-xl" :src="image" alt="Foto" />
  </div>
</template>

<style lang="postcss" scoped>
.color-red {
  color: var(--color-red);
}
.title {
  @apply text-center text-white font-medium text-xl py-1.5 rounded-xl;
  font-family: Poppins, sans-serif;
  background: var(--from-red-to-yellow-90deg);
}

.description {
  @apply font-medium mt-2;
}
</style>
