<script lang="ts" setup>
import { ref } from "vue";

const emit = defineEmits(["change"]);
const props = withDefaults(
  defineProps<{
    initialField: string;
    fields: { label: string; id: string }[];
  }>(),
  {
    initialField: "",
    fields: () => [],
  }
);

const activeField = ref(props.initialField);

const onClick = (id: string) => {
  activeField.value = id;
  emit("change", id);
};
</script>

<template>
  <div class="container-xl filter">
    <button
      v-for="field in fields"
      class="filter-button"
      :class="{ active: activeField === field.id }"
      @click="onClick(field.id)"
    >
      {{ field.label }}
    </button>
  </div>
</template>

<style lang="postcss" scoped>
.filter {
  @apply flex flex-row
  items-center
  gap-2
  w-11/12
  mx-auto
  mb-4
  p-2
  bg-gray-300
  rounded-xl
  overflow-x-scroll;
}
.filter::-webkit-scrollbar {
  display: none;
}
.filter-button {
  @apply min-w-max w-full bg-white rounded-xl font-bold uppercase text-xs p-2 hover:bg-gray-100;
  border: 4px solid #d1d5dbff;
}
.filter-button.active {
  @apply text-white;
  background: var(--from-red-to-yellow-90deg);
}
@media (min-width: 768px) {
  .filter-button.active {
    @apply text-gray-900;
    border: 4px solid var(--color-red);
    background: white;
  }
}
</style>
