<template>
  <header class="header">
    <div class="col-1 bg-fire">
      <h1 class="title">Encontre seu <br />quarto perfeito</h1>

      <p class="description">
        Na <strong>Hora H</strong>, descomplicamos o processo da reserva e
        ajudamos você e seu par a conquistarem a privacidade que vocês merecem
        ;)
      </p>

      <h1 class="title">
        E aí? Qual vai ser?
        <img
          class="w-10 h-10 inline"
          src="../assets/icons/emoji-kiss.svg"
          alt="Emoji"
        />
      </h1>
      <slot />
    </div>

    <img class="col-2" src="../assets/img/door.webp" alt="Porta" />
  </header>
</template>

<style lang="postcss" scoped>
.header {
  @apply lg:max-h-96 relative text-white overflow-hidden md:grid md:grid-cols-2 mx-auto;
  background: var(--from-red-to-yellow-to-orange);
}

.col-1 {
  @apply lg:max-h-96 relative p-6 md:bg-none flex flex-col justify-around items-center space-y-4 !important;
  background: url("../assets/img/bg-header.svg") no-repeat center;
}
.col-2 {
  @apply hidden md:block w-full h-full;
}

.title {
  @apply text-4xl lg:text-5xl text-center font-flood-std;
}

.description {
  @apply text-sm md:text-base text-justify font-montserrat font-medium;
  max-width: 480px;
}
</style>
