<script lang="ts" setup>
import { ref } from "vue";

const props = withDefaults(
  defineProps<{
    suites?: { name: string; price: number; image: string }[];
  }>(),
  {
    suites: () => [
      {
        name: "Suíte Super Luxo 1",
        image:
          "https://www.guiademoteis.com.br/imagens/suites/big/2085_big_4335_1.jpg",
        price: 45,
      },
      {
        name: "Suíte Premium",
        image:
          "https://www.guiademoteis.com.br/Images/moteis/119-Motel-Colorado/suites/6788-Luxo-Especial/fotos/foto1-suites.jpg",
        price: 55,
      },
      {
        name: "Suíte Marquinhos Fast",
        image:
          "https://i.pinimg.com/736x/9b/6a/b9/9b6ab99ce2e914ba8ada8fcef07ce5d8.jpg",
        price: 30000,
      },
    ],
  }
);

const show = ref(false);
const activeSuite = ref(props.suites[0]);
</script>

<template>
  <div class="suite-container" :class="show ? 'rounded-t-2xl' : 'rounded-2xl'">
    <div class="suite">
      <img
        class="rounded-2xl"
        width="72"
        height="52"
        style="width: 72px; height: 52px"
        :src="activeSuite.image"
        alt="Foto da suíte"
      />

      <svg
        width="3"
        height="42"
        viewBox="0 0 3 42"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="my-auto"
      >
        <rect x="0.3" y="0.4" width="2.5" height="42" rx="1.3" fill="#8F8F8F" />
      </svg>

      <div class="font-bold pl-0.5">
        <p class="suite-name">{{ activeSuite.name }}</p>
        <span class="text-lg mr-1" style="color: var(--color-red)">R$</span>
        <span class="text-lg">{{ activeSuite.price }}</span>
        <span class="text-base mx-1.5" style="color: var(--color-red)">/</span>
        <span class="text-base">HR</span>
      </div>

      <button
        class="expand-button"
        :class="{ flip: show }"
        title="Expandir"
        @click="show = !show"
      />
    </div>

    <transition name="fade">
      <div
        class="
          bg-gray-200
          absolute
          left-0
          right-0
          rounded-b-2xl
          p-2
          overflow-y-scroll
          z-10
        "
        style="max-height: 121px; margin-top: -1px"
        v-if="show"
      >
        <template v-for="suite in suites">
          <p
            @click="activeSuite = suite"
            class="suite-name-dropdown"
            :class="{ active: activeSuite.name === suite.name }"
          >
            {{ suite.name }}
          </p>
        </template>
      </div>
    </transition>
  </div>
</template>

<style lang="postcss" scoped>
.suite-container {
  @apply relative w-full mt-3 bg-gray-200 p-1.5;
}
.suite {
  @apply flex relative gap-2 bg-white p-1.5 rounded-2xl;
}

.suite-name {
  @apply w-48 font-bold uppercase truncate;
}

.suite-name-dropdown {
  @apply font-bold uppercase bg-gray-50 hover:bg-gray-100 truncate text-center text-sm my-2 px-4 py-0.5 rounded-full cursor-pointer;
}
.suite-name-dropdown.active {
  @apply text-white;
  background: var(--from-red-to-yellow-90deg);
}

.expand-button {
  @apply w-9 h-9 absolute rounded-full p-2 right-2 top-3 transition;
  background: var(--from-red-to-yellow-90deg);
}
.expand-button:hover {
  filter: brightness(120%);
}

.expand-button::after {
  @apply w-7 h-7 absolute inset-0 m-auto transition;
  content: "";
  background: url("../assets/icons/expand-icon.png") no-repeat;
  background-size: contain;
}
.expand-button.flip::after {
  transform: scaleY(-1);
}
</style>
