<script lang="ts" setup>
import { onMounted, ref } from "vue";

import L from "leaflet";
import "leaflet/dist/leaflet.css";

const props = withDefaults(
  defineProps<{
    coordinates?: { lat: number; lng: number };
  }>(),
  {
    coordinates: () => {
      return { lat: -19.88760282546735, lng: -43.96966082801255 };
    },
  }
);

const map = ref<L.Map | null>(null);
const marker = ref<L.Marker | null>(null);
const coords = props.coordinates;

const icon = L.divIcon({
  html: '<i class="uil uil-map-pin text-4xl text-red-500 ml-1"></i>',
  iconSize: [50, 50],
  iconAnchor: [22, 94],
  popupAnchor: [0, -100],
  className: "",
});

const renderMap = () => {
  if (!map.value) return;
  L.tileLayer(
    "https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw",
    {
      maxZoom: 18,
      id: "mapbox/streets-v11",
      tileSize: 512,
      zoomOffset: -1,
    }
  ).addTo(map.value as L.Map);
};

const setMarker = () => {
  if (!coords || !map.value) return;
  marker.value = L.marker(coords, { icon }).addTo(map.value as L.Map);
};

const setPopup = () => {
  if (!marker.value) return;
  const content = `<span class='font-medium' style="font-family: Montserrat, 'sans-serif'">O local exato é fornecido após a reserva.<span/>`;
  marker.value
    .bindPopup(content, {
      closeButton: false,
    })
    .openPopup();
};

onMounted(() => {
  if (!coords) return;
  map.value = L.map("map").setView(coords, 13);
  renderMap();
  setMarker();
  setPopup();
});
</script>

<template><div id="map"></div></template>

<style lang="postcss" scoped>
#map {
  @apply w-full h-48 lg:h-auto rounded-lg;
  border: 8px solid var(--color-dark-pink);
}
</style>
