<script lang="ts" setup>
const emits = defineEmits(["next", "previous", "start", "end"]);
const props = withDefaults(
  defineProps<{
    current: string | number;
    total: string | number;
  }>(),
  {
    current: 0,
    total: 0,
  }
);
</script>

<template>
  <div class="flex items-center justify-center gap-1 text-sm lg:text-base">
    <button class="go-to-start" @click="$emit('start')" />
    <button class="previous" @click="$emit('previous')" />
    <div class="bg-white p-2 rounded-xl">
      <div class="font-bold uppercase rounded-xl">
        <span class="bg-gray-200 rounded-xl py-1.5 px-6 mr-1">
          página {{ current }}
        </span>
        <span>de {{ total }}</span>
      </div>
    </div>

    <button class="next" @click="$emit('next')" />
    <button class="go-to-end" @click="$emit('end')" />
  </div>
</template>

<style lang="postcss" scoped>
.go-to-start,
.go-to-end,
.previous,
.next {
  @apply relative w-10 h-12 rounded-xl;
}

.previous,
.next {
  background: var(--color-blue);
}
.go-to-start,
.go-to-end {
  background: var(--yellow-gradient);
}

.go-to-start::after,
.go-to-end::after,
.previous::after,
.next::after {
  @apply absolute w-8 h-10 inset-0 top-2.5 left-0.5;
  content: "";
}

.previous::after {
  @apply left-1.5;
}

.go-to-start::after,
.go-to-end::after {
  background: url("../assets/icons/play.png") no-repeat;
}

.go-to-end::after {
  transform: scaleX(-1);
}

.previous::after,
.next::after {
  background: url("../assets/icons/play-simple.png") no-repeat;
}

.next::after {
  transform: scaleX(-1);
}
</style>
