<script lang="ts" setup>
import { ref, watch } from "vue";

import Multiselect from "@vueform/multiselect";
import "@vueform/multiselect/themes/default.css";
import "@/assets/selector.css";

const emit = defineEmits(["update:modelValue"]);
const props = withDefaults(
  defineProps<{
    label: string;
    options: string[] | {} | Function;
    searchable?: boolean;
    noOptionsText?: string;
    noResultsText?: string;
    modelValue?: string;
    validate?: (value: unknown, label: string) => string;
    autoHideError?: boolean;
    disabled?: boolean;
    validateInitialValue?: boolean;
  }>(),
  {
    label: "",
    options: () => [],
    searchable: true,
    noOptionsText: "Nenhum dado encontrado",
    noResultsText: "Nenhum dado encontado",
    modelValue: "",
    validate: () => "",
    autoHideError: false,
    disabled: false,
    validateInitialValue: true,
  }
);

const valueSelected = ref(props.modelValue || "");
const message = ref("");

let timeout: NodeJS.Timeout | null = null;

const handleValidate = (value: unknown) => {
  if (props.validate) {
    message.value = props.validate(value, props.label);

    if (props.autoHideError) {
      if (timeout) clearTimeout(timeout);
      timeout = setTimeout(() => {
        message.value = "";
      }, 3000);
    }
  }
};

const onChange = (value: unknown = "") => {
  emit("update:modelValue", value);

  handleValidate(value);
};

watch(
  () => props.modelValue,
  (newValue) => {
    valueSelected.value = newValue;
  }
);

if (props.validateInitialValue && props.validate) {
  handleValidate(props.modelValue);

  watch(
    () => props.modelValue,
    (newValue) => handleValidate(newValue)
  );
}
</script>

<template>
  <div class="select-container">
    <label v-if="label" class="font-bold text-sm pl-1">
      {{ label }}
    </label>

    <Multiselect
      v-bind="$attrs"
      v-model="valueSelected"
      class="select"
      :searchable="searchable"
      :options="options"
      :noOptionsText="noOptionsText"
      :noResultsText="noResultsText"
      :disabled="disabled"
      @change="onChange"
    />

    <transition name="slide-fade">
      <span v-if="message" class="message"> * {{ message }} </span>
    </transition>
  </div>
</template>

<style lang="postcss" scoped>
.select-container {
  @apply w-full mt-4;
}

.select {
  @apply mt-0 font-medium !important;
  font-family: Montserrat, "sans-serif" !important;
}

.message {
  @apply block text-xs
  font-semibold
  text-red-700
  rounded-md
  pl-2
  mt-1
  bg-red-300;
}
</style>
