<script lang="ts" setup>
withDefaults(
  defineProps<{
    label: string;
    value: number;
  }>(),
  {
    label: "",
    value: -1,
  }
);
</script>

<template>
  <div>
    <span class="font-medium text-lg">{{ label }}</span>
    <div class="flex items-center gap-4">
      <progress :value="value" max="10" />
      <span class="font-bold text-xl">{{ value.toFixed(1) }}</span>
    </div>
  </div>
</template>

<style lang="css" scoped>
progress {
  @apply w-72 h-4 rounded-xl shadow-sm;
}
progress::-webkit-progress-bar {
  @apply bg-gray-200 rounded-xl;
}
progress::-webkit-progress-value {
  @apply bg-red-600 rounded-xl;
}
</style>
