<script lang="ts" setup>
import { Swiper, SwiperSlide } from "swiper/vue";

import { swiperMouseEvent } from "@/utils";
</script>

<template>
  <swiper
    @mouseenter="swiperMouseEvent.enter"
    @mouseleave="swiperMouseEvent.leave"
    :autoplay="{
      delay: 2500,
      disableOnInteraction: true,
    }"
    style="background: transparent"
    :space-between="10"
    slides-per-view="auto"
  >
    <swiper-slide>
      <div class="tag">
        <i class="tag-icon uil uil-eye"></i>
        <span> Tem gente de olho </span>
      </div>
    </swiper-slide>

    <swiper-slide>
      <p class="tag">
        <i class="tag-icon uil uil-fire"></i>
        <span> Últimos quartos </span>
      </p>
    </swiper-slide>
    <swiper-slide>
      <p class="tag">
        <i class="tag-icon uil uil-trophy"></i>
        <span> Mais avaliado </span>
      </p>
    </swiper-slide>
    <swiper-slide>
      <p class="tag">
        <i class="tag-icon uil uil-clock-ten"></i>
        <span> Reservas na última hora </span>
      </p>
    </swiper-slide>
    <swiper-slide>
      <p class="tag">
        <i class="tag-icon uil uil-ticket"></i>
        <span> Cupom disponível </span>
      </p>
    </swiper-slide>
    <swiper-slide>
      <p class="tag">
        <i class="tag-icon uil uil-grin-tongue-wink"></i>
        <span> Confiável </span>
      </p>
    </swiper-slide>
  </swiper>
</template>

<style lang="postcss" scoped>
.swiper-slide {
  @apply w-auto mb-0 mt-2 !important;
}
.tag-icon {
  @apply text-xl;
  color: var(--color-red);
}
.tag {
  @apply w-auto h-9 flex items-center justify-center gap-2 font-bold uppercase text-center text-xs bg-gray-200 px-1.5 py-0.5 rounded-xl;
}
</style>
