<script lang="ts" setup>
import Button from "@/components/Button/Button.vue";
</script>

<template>
  <div
    class="flex flex-row justify-around gap-10 bg-white mt-4 rounded-2xl p-4"
  >
    <img class="logo" src="../../assets/icons/logo.webp" alt="Logo Hora-H" />

    <div class="flex flex-col justify-around gap-2">
      <Button class="contact-button">Parceiros</Button>
      <Button class="contact-button">Informações</Button>
      <Button class="contact-button">Contato</Button>
    </div>
  </div>
</template>

<style lang="postcss" scoped>
.contact-button {
  @apply h-9 !important;
  background: linear-gradient(90deg, #f81c23 53.89%, #ed8700 114.01%);
}

.logo {
  @apply w-28;
}
@media (max-width: 400px) {
  .logo {
    @apply hidden;
  }
}
</style>
