<script lang="ts" setup>
import Button from "@/components/Button/Button.vue";
import FooterContacts from "@/components/Footer/Contacts.vue";
</script>

<template>
  <footer>
    <div
      class="lg:w-2/3 flex flex-col space-y-10 items-center lg:items-start p-4"
    >
      <h1>
        que tal fazer <br />
        parte da hora h?
      </h1>

      <p class="description">
        Na <strong>Hora H</strong>, descomplicamos o processo da reserva e
        ajudamos você e seu par a conquistarem a privacidade que vocês merecem
        ;)
      </p>

      <Button class="button">Entrar em contato</Button>
    </div>

    <FooterContacts class="lg:hidden m-4" />
  </footer>
</template>

<style lang="postcss" scoped>
footer {
  @apply flex flex-col lg:px-8 lg:py-12 lg:rounded-xl;
  background: url("../../assets/img/bg-footer-2.svg") no-repeat 50% 10%,
    var(--from-red-to-yellow-250deg);
}

@media (min-width: 1024px) {
  footer {
    @apply w-full;
    height: 456px;
    background: url("../../assets/img/bg-footer.png") no-repeat top right;
    background-size: cover;
  }
}

h1 {
  @apply text-white text-center lg:text-left text-3xl sm:text-5xl lg:text-6xl font-flood-std;
}

.description {
  @apply text-sm md:text-base text-white text-justify font-montserrat font-medium;
  max-width: 480px;
}

.button {
  @apply w-full lg:w-2/3 h-12 font-bold text-center text-gray-900 rounded-xl font-poppins;
  background: white;
}
</style>
