<script lang="ts" setup>
import FooterContacts from "@/components/Footer/Contacts.vue";
</script>

<template>
  <div>
    <footer
      v-bind="$attrs"
      class="
        h-60
        hidden
        justify-around
        items-center
        gap-2
        px-8
        py-4
        bg-white
        rounded-3xl
        lg:flex
      "
    >
      <img
        class="hidden xl:block w-32 h-40"
        src="../../assets/icons/logo.webp"
        alt="Logo"
      />

      <div class="h-full">
        <p class="title">Parceiros</p>
        <div class="grid gap-4 justify-center mt-4">
          <img
            class="col-span-1"
            style="width: 80px; height: 60px"
            src="../../assets/img/parceiro.svg"
            alt="Parceiro"
          />
          <img
            class="col-span-1"
            style="width: 80px; height: 60px"
            src="../../assets/img/parceiro.svg"
            alt="Parceiro"
          />
          <img
            class="col-span-2"
            style="width: 130px; height: 80px"
            src="../../assets/img/parceiro.svg"
            alt="Parceiro"
          />
        </div>
      </div>
      <div class="h-full flex flex-col justify-between gap-4">
        <p class="title">Contato</p>
        <p class="description">TELEFONE XXXXX-XXXXXX</p>
        <p class="description">LinkedIn</p>
        <p class="description">Instagram</p>
      </div>
      <div class="h-full flex flex-col justify-between gap-4">
        <p class="title">Informações</p>
        <p class="description">cnpj xxxxxxxxxxxxxxxxxx</p>
        <p class="description">cnpj xxxxxxxxxxxxxxxxxx</p>
        <p class="description">cnpj xxxxxxxxxxxxxxxxxx</p>
      </div>
    </footer>
    <FooterContacts class="lg:hidden" />
  </div>
</template>

<style lang="postcss" scoped>
.title {
  @apply w-72 h-10 py-1.5 text-white font-bold text-center text-xl rounded-2xl uppercase;
  background: var(--from-red-to-yellow-90deg);
}
.description {
  @apply w-72 h-10 py-2 text-center text-gray-600 font-bold uppercase text-base rounded-2xl bg-gray-300;
}
</style>
