.vc-container {
  @apply p-2 bg-white rounded-xl;
}

.vc-header {
  @apply rounded-xl p-0 !important;
  background-color: var(--color-pink) !important;
}

.vc-title {
  color: var(--color-red) !important;
}

.vc-svg-icon {
  color: var(--color-red) !important;
}

.vc-arrow {
  margin-top: -10px !important;
}

.vc-arrow:hover {
  background: transparent !important;
}

.vc-day-content {
  @apply font-bold rounded-lg !important;
  border-radius: 0 !important;
}
.vc-day-content:focus {
  @apply rounded-lg;
  background: none !important;
}

.vc-highlight {
  @apply rounded-lg !important;
  background: var(--from-red-to-yellow-90deg) !important;
}
