* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

:root {
  --color-red: #f81c23;
  --color-pink: #ffd8cc;
  --color-light-pink: #ffd8cc;
  --color-yellow: #ed8700;
  --color-gray: #f9f9f9;
  --color-dark-gray: #8f8f8f;
  --color-darked-gray: #6b6b6b;
  --color-ligth-gray: #eeeeee;
  --color-blue: #0a9ef7;
  --color-cian: #b5dffa;
  --color-light-blue: #162cf7;
  --color-lighter-blue: #d8eef8;
  --color-green: #62dc57;
  --color-light-green: #e0fdce;
  --color-light-purple: #ebcefd;
  --color-dark-pink: #ff214b;
  --yellow-gradient: linear-gradient(234deg, #f9bb1d 17%, #f7ab16 79%);
  --from-blue-to-light: linear-gradient(
    90deg,
    var(--color-blue) 40%,
    var(--color-light-blue) 130%
  );
  --from-red-to-yellow-to-orange: linear-gradient(
    90deg,
    var(--color-red) 0%,
    var(--color-yellow),
    114%,
    var(--color-yellow) 114%
  );
  --from-red-to-yellow: linear-gradient(var(--color-red), var(--color-yellow));
  --from-red-to-yellow-90deg: linear-gradient(
    90deg,
    var(--color-red) 54%,
    var(--color-yellow) 114%
  );
  --from-red-to-yellow-250deg: linear-gradient(
    250deg,
    var(--color-yellow) -0.9%,
    var(--color-red) 99%
  );
  --from-red-to-yellow-270deg: linear-gradient(
    270deg,
    var(--color-red) 50%,
    var(--color-yellow) 107%
  );
}

@font-face {
  font-family: Flood Std;
  src: url("fonts/Flood Std/flood-std.otf") format("opentype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-gray-50;
}

body {
  @apply text-gray-900;
}

h1,
h2,
h3,
h4 {
  font-family: Permanent Marker, sans-serif;
}

hr {
  height: 2px;
  background: #e2e2e2;
  border-radius: 2px;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: transparent;
}
*::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--color-dark-gray);
}

.container-xl {
  @apply mx-auto;
  max-width: 1400px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

h2 {
  @apply text-center text-2xl font-bold uppercase mb-4 font-montserrat;
}

h2:after {
  @apply text-red-600;
  content: ":";
}

.bg-fire::before {
  @apply hidden md:block absolute w-full h-full inset-0;
  background: url("../assets/img/bg-fire.svg") no-repeat center;
  background-size: cover;
  content: "";
  mix-blend-mode: normal;
  opacity: 0.8;
}
