:root {
  --ms-radius: 0.75rem;
  --ms-dropdown-radius: 0.75rem;
  --ms-font-size: 0.875rem;
  --ms-line-heightt: 1.25rem;
  --ms-option-font-size: 0.875rem;
  --ms-option-line-height: 1.25rem;
  --ms-tag-font-weight: 600;
  --ms-bg: #e5e7ebff;
  --ms-border-color: transparent;
  --ms-ring-color: transparent;
  --ms-option-bg-selected: var(--color-blue);
  --ms-option-bg-selected-pointed: var(--color-blue);
}

.select-container {
  margin-top: 0 !important;
}
