<template>
  <div
    @click="showWrapper = !showWrapper"
    v-if="showWrapper"
    class="wrapper"
  ></div>

  <div class="min-h-screen">
    <Header>
      <div :class="showWrapper && 'absolute left-0 px-4'" class="w-full z-10">
        <InputPlace
          v-if="!showWrapper || activeSearch === 'local'"
          @focus="
            showWrapper = true;
            activeSearch = 'local';
          "
          :active="showWrapper && activeSearch === 'local'"
          :is-desktop="false"
        />
        <InputCalendar
          v-if="!showWrapper || activeSearch === 'calendar'"
          @focus="
            showWrapper = true;
            activeSearch = 'calendar';
          "
          :active="showWrapper && activeSearch === 'calendar'"
          :is-desktop="false"
        />
        <InputTime
          v-if="!showWrapper || activeSearch === 'time'"
          @focus="
            showWrapper = true;
            activeSearch = 'time';
          "
          :active="showWrapper && activeSearch === 'time'"
          :is-desktop="false"
        />
      </div>
    </Header>
    <div>
      <div class="header-form-desktop">
        <InputPlace
          @focus="
            showWrapper = true;
            activeSearch = 'local';
          "
          :active="showWrapper && activeSearch === 'local'"
          :is-desktop="true"
        />
        <InputCalendar
          @focus="
            showWrapper = true;
            activeSearch = 'calendar';
          "
          :active="showWrapper && activeSearch === 'calendar'"
          :is-desktop="true"
        />
        <InputTime
          @focus="
            showWrapper = true;
            activeSearch = 'time';
          "
          :active="showWrapper && activeSearch === 'time'"
          :is-desktop="true"
        />
        <ButtonSearch />
      </div>

      <div class="container-xl pt-24 lg:px-6 lg:pb-10 bg-gray-50">
        <div>
          <h2>Destaques pertinho de você</h2>
          <swiper
            class="bg-fire"
            @mouseenter="swiperMouseEvent.enter"
            @mouseleave="swiperMouseEvent.leave"
            :autoplay="{
              delay: 2500,
              disableOnInteraction: true,
            }"
            navigation
            loop
            centeredSlides
            slides-per-view="auto"
            :space-between="30"
          >
            <template v-for="i in 5" :key="i">
              <swiper-slide style="width: auto">
                <CardHotel
                  image="https://q-xx.bstatic.com/xdata/images/hotel/840x460/27090161.jpg?k=de4095c5d19b93865ff211cf363fe7b0d75fe1bf6ae47c94c82130282c92d2d3"
                  name="Motel Le Monde"
                  location="Monte Carlos - Minas Gerais"
                  :liked="false"
                  :stars-rate="4"
                  :likes-rate="8.5"
                  :price="25"
                  :feedbacks="1500"
                />
              </swiper-slide>
            </template>
          </swiper>
          <div class="flex justify-end pr-4">
            <ButtonViewMore />
          </div>
        </div>

        <div class="mt-6">
          <h2>Ofertas por tempo limitado</h2>
          <swiper
            class="bg-fire"
            @mouseenter="swiperMouseEvent.enter"
            @mouseleave="swiperMouseEvent.leave"
            :autoplay="{
              delay: 2500,
              disableOnInteraction: true,
            }"
            navigation
            loop
            centeredSlides
            :breakpoints="{
              1200: {
                slidesPerView: 2.5,
              },
              940: {
                slidesPerView: 1.9,
              },
              840: {
                slidePerView: 1.8,
              },
              720: {
                slidesPerView: 1.4,
              },
            }"
            :slides-per-view="1.2"
            :space-between="10"
          >
            <template v-for="i in 5" :key="i">
              <swiper-slide>
                <CardSuite
                  :id="1"
                  suite-name="Suite Super Luxo"
                  suite-image="https://5.imimg.com/data5/SL/GH/MY-67723496/queen-size-bed-with-storage-1000x1000.jpg"
                  :suite-price="25"
                  hotel-name="Motel Le Monde"
                  hotel-image="https://q-xx.bstatic.com/xdata/images/hotel/840x460/27090161.jpg?k=de4095c5d19b93865ff211cf363fe7b0d75fe1bf6ae47c94c82130282c92d2d3"
                  :offer-end-at="new Date().getTime() + 82800 * 1000"
                />
              </swiper-slide>
            </template>
          </swiper>
          <div class="flex justify-end pr-4">
            <ButtonViewMore />
          </div>
        </div>

        <div v-show="false" class="mt-6">
          <h2>Não perca esses cupons</h2>
          <swiper
            class="bg-fire"
            @mouseenter="swiperMouseEvent.enter"
            @mouseleave="swiperMouseEvent.leave"
            :autoplay="{
              delay: 2500,
              disableOnInteraction: true,
            }"
            navigation
            loop
            centeredSlides
            :breakpoints="{
              1100: {
                slidesPerView: 3.2,
              },
              960: {
                slidesPerView: 2.5,
              },
              770: {
                slidesPerView: 2.2,
              },
              520: {
                slidesPerView: 1.5,
              },
            }"
            :slides-per-view="1.2"
            :space-between="10"
          >
            <template v-for="i in 5" :key="i">
              <swiper-slide>
                <CardTicket
                  image="https://image.freepik.com/free-photo/outdoor-portrait-three-young-adults-drinking-champaign-smiling-broadly-while-resting-seaside-handsome-bearded-guy-poors-drinks-his-friends-glasses-saying-cheers-their-happy-future_176420-15408.jpg"
                  title="01 garafa de chamapgne"
                  description="Na reserva de 01 suíte regular você ganha 01 garrafa de champagne."
                  hotel-name="Motel Le Monde"
                  hotel-image="https://q-xx.bstatic.com/xdata/images/hotel/840x460/27090161.jpg?k=de4095c5d19b93865ff211cf363fe7b0d75fe1bf6ae47c94c82130282c92d2d3"
                />
              </swiper-slide>
            </template>
          </swiper>
          <div class="flex justify-end pr-4">
            <ButtonViewMore />
          </div>
        </div>

        <FooterCustom class="mt-8" />
      </div>

      <div
        class="hidden lg:block py-6 px-10 relative bg-fire"
        style="background: var(--from-red-to-yellow-270deg)"
      >
        <FooterDefault class="relative container-xl z-10" />
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref } from "vue";

import { Swiper, SwiperSlide } from "swiper/vue";
import Header from "@/components/Header.vue";
import CardHotel from "@/components/Card/Hotel.vue";
import CardSuite from "@/components/Card/Suite.vue";
import CardTicket from "@/components/Card/Ticket.vue";
import ButtonViewMore from "@/components/Button/ButtonViewMore.vue";
import FooterCustom from "@/components/Footer/Custom.vue";
import FooterDefault from "@/components/Footer/Default.vue";
import InputPlace from "@/components/Input/Place.vue";
import InputCalendar from "@/components/Input/Calendar/Index.vue";
import ButtonSearch from "@/components/Button/ButtonSearch.vue";
import InputTime from "@/components/Input/Time/Index.vue";

import { swiperMouseEvent } from "@/utils";

const showWrapper = ref(false);
const activeSearch = ref("");
</script>

<style lang="postcss" scoped>
.swiper {
  @apply rounded-xl !important;
}
.wrapper {
  @apply absolute inset-0 w-full h-full bg-gray-900 opacity-50;
  z-index: 1;
}

.header-form-desktop {
  @apply w-full max-w-6xl h-24 hidden md:flex justify-between absolute left-0 right-0 bg-white flex justify-between rounded-2xl mx-auto;
  max-width: 1070px;
  margin-top: -1.8rem;
  z-index: 2;
}
</style>
