<template>
  <NavbarTop />
  <ModalConfirmAge />
  <main class="relative overflow-x-hidden overflow-y-auto bg-gray-50">
    <router-view />
  </main>
  <NavBarBottom />
</template>

<script lang="ts" setup>
import NavbarTop from "@/components/Navbar/Top.vue";
import ModalConfirmAge from "@/components/Modals/ConfirmAge/Index.vue";
import NavBarBottom from "@/components/Navbar/Bottom.vue";
</script>
