<script lang="ts" setup>
import { ref } from "vue";

import { Swiper, SwiperSlide } from "swiper/vue";
import InputPlace from "@/components/Input/Place.vue";
import InputCalendar from "@/components/Input/Calendar/Index.vue";
import FooterDefault from "@/components/Footer/Default.vue";
import CardHotelView from "@/components/Card/HotelView.vue";
import Pagination from "@/components/Pagination.vue";
import CardHotelList from "@/components/Card/HotelList.vue";
import Filter from "@/components/Filters.vue";
import ReturnButton from "@/components/Button/ReturnButton.vue";
import ButtonSearch from "@/components/Button/ButtonSearch.vue";
import InputTime from "@/components/Input/Time/Index.vue";

import { swiperMouseEvent } from "@/utils";

const showWrapper = ref(false);
const activeSearch = ref("");

const filterFields = [
  { label: "recomendado por nós", id: "recommended" },
  { label: "menor preço", id: "min-price" },
  { label: "maior preço", id: "highest-price" },
  { label: "melhor avaliação", id: "best-avaliation" },
  { label: "menor distância", id: "min-distance" },
];
</script>

<style lang="postcss" scoped>
.wrapper {
  @apply absolute inset-0 w-full h-full bg-gray-900 opacity-50;
  z-index: 1;
}
</style>

<template>
  <div
    @click="showWrapper = !showWrapper"
    v-if="showWrapper"
    class="wrapper"
  ></div>

  <div
    class="
      w-11/12
      h-24
      hidden
      lg:flex
      justify-between
      absolute
      inset-0
      mt-8
      mx-auto
      bg-white
      rounded-2xl
      z-10
    "
    style="max-width: 1070px; z-index: 1"
  >
    <InputPlace
      @focus="
        showWrapper = true;
        activeSearch = 'local';
      "
      :active="showWrapper && activeSearch === 'local'"
      :is-desktop="true"
    />
    <InputCalendar
      @focus="
        showWrapper = true;
        activeSearch = 'calendar';
      "
      :active="showWrapper && activeSearch === 'calendar'"
      :is-desktop="true"
    />
    <InputTime
      @focus="
        showWrapper = true;
        activeSearch = 'time';
      "
      :active="showWrapper && activeSearch === 'time'"
      :is-desktop="true"
    />
    <ButtonSearch />
  </div>

  <div
    class="relative px-10 bg-fire"
    style="background: var(--from-red-to-yellow-250deg)"
  >
    <swiper
      class="container-xl"
      style="background: none"
      @mouseenter="swiperMouseEvent.enter"
      @mouseleave="swiperMouseEvent.leave"
      :autoplay="{
        delay: 2500,
        disableOnInteraction: true,
      }"
      :pagination="{
        clickable: true,
      }"
      centeredSlides
      loop
      navigation
    >
      <div
        class="flex items-center lg:hidden absolute inset-0 mt-8"
        style="height: 80px; z-index: -1"
      >
        <ReturnButton class="sm:absolute ml-2 sm:ml-8" to="/" />
        <h1 class="text-white mx-auto text-2xl sm:text-4xl uppercase">
          Escolha um motel
        </h1>
      </div>
      <template v-for="i in 5" :key="i">
        <swiper-slide class="mt-32 lg:mt-40">
          <CardHotelView class="mb-8" />
        </swiper-slide>
      </template>
    </swiper>
  </div>

  <div class="container-xl" style="min-height: 150px">
    <Filter initial-field="recommended" :fields="filterFields" />
  </div>

  <div class="py-8" style="background: var(--from-red-to-yellow-90deg)">
    <div
      class="container-xl flex justify-center flex-wrap gap-6 px-4"
      style="margin-top: -100px"
    >
      <template v-for="i in 6" :key="i">
        <CardHotelList />
      </template>
    </div>

    <Pagination class="my-6" current="1" total="10" />

    <FooterDefault class="hidden lg:block container-xl mt-8 px-10" />
  </div>
</template>
