<script lang="ts" setup>
import { DatePicker } from "v-calendar";
import "@/assets/calendar.css";

const currentDate = new Date();
</script>

<template>
  <DatePicker
    v-bind="$attrs"
    :min-date="new Date()"
    :max-date="
      new Date(
        currentDate.getFullYear() + 1,
        currentDate.getMonth() + 1,
        currentDate.getDate() + 1
      )
    "
  />
</template>

<style lang="postcss" scoped></style>
