<script lang="ts" setup>
import { ref, watch } from "vue";

import InputDefault from "@/components/Input/Default.vue";
import Selector from "@/components/Selector.vue";

import { maskCardNumber } from "@/utils";

const props = withDefaults(
  defineProps<{
    type: "credit" | "debt";
  }>(),
  {
    type: "credit",
  }
);

const title = `Cartão de ${props.type === "credit" ? "crédito" : "débito"}`;
const flag = ref("");
const number = ref("");
const numberMasked = ref<string[]>([]);
const name = ref("");
const validate = ref("");
const cvv = ref("");
const installments = ref("");

const changeFlag = (number: string) => {
  const firstDigit = number[0];
  if (firstDigit === "4") flag.value = "visa";
  else if (firstDigit === "5") flag.value = "master";
  else flag.value = "";
};

watch(
  () => number.value,
  (number: string) => {
    changeFlag(number);
    numberMasked.value = maskCardNumber(number);
  }
);
</script>

<template>
  <div
    class="
      container-xl
      w-full
      flex flex-col-reverse
      gap-6
      bg-white
      p-4
      rounded-2xl
    "
    :class="flag && 'lg:grid lg:grid-cols-2'"
    style="max-width: 1000px"
  >
    <form>
      <p class="title uppercase">{{ title }}</p>

      <div class="flex flex-col mt-3 gap-8">
        <InputDefault
          v-maska="'#### #### #### ####'"
          label="Número do Cartão"
          v-model="number"
        />

        <InputDefault label="Nome do Titular" v-model="name" />

        <div class="flex flex-row gap-4" :class="type !== 'credit' && 'mb-6'">
          <InputDefault v-maska="'##/##'" label="Validade" v-model="validate" />
          <InputDefault v-maska="'###'" label="Código CVV" v-model="cvv" />
        </div>

        <Selector
          v-model="installments"
          v-if="type === 'credit'"
          label="Número de Parcelas"
          :options="[
            '01 parcela de R$ 250 sem juros',
            '02 parcelas de R$ 125 sem juros',
          ]"
        />
      </div>
    </form>
    <form v-if="flag" class="card">
      <img
        v-if="flag === 'visa'"
        src="../../assets/img/card-visa.svg"
        alt="cartao"
      />
      <img
        v-else-if="flag === 'master'"
        src="../../assets/img/card-master.svg"
        alt="cartao"
      />

      <span class="top-10 left-6">CARTÃO</span>
      <div
        class="absolute flex gap-10 bottom-28 left-6"
        style="letter-spacing: 8px"
      >
        <p class="font-medium">{{ numberMasked[0] }}</p>
        <p class="font-medium">{{ numberMasked[1] }}</p>
        <p class="font-medium">{{ numberMasked[2] }}</p>
        <p style="letter-spacing: 4px; margin-top: -4px">
          {{ numberMasked[3] }}
        </p>
      </div>
      <span class="bottom-14 left-6">NOME</span>
      <span
        class="bottom-6 left-6 truncate"
        style="max-width: 300px; font-weight: 500"
      >
        {{ name }}
      </span>
      <span class="bottom-14 right-10">VALIDADE</span>
      <span class="bottom-6 right-10" style="font-weight: 500">
        {{ validate }}
      </span>
    </form>
  </div>
</template>

<style lang="postcss" scoped>
.title {
  @apply h-10 text-center text-white font-medium text-xl py-1.5 rounded-xl;
  font-family: Poppins, sans-serif;
  background: var(--from-red-to-yellow-90deg);
}

.card {
  @apply hidden sm:block relative mx-auto;
  width: 450px;
  height: 280px;
}

.card img {
  @apply absolute;
  border-radius: 30px;
}

.card span,
.card div {
  @apply absolute text-white font-bold text-xl;
  z-index: 1;
  letter-spacing: 3px;
}
</style>
