<script lang="ts" setup>
import { useToast } from "vue-toastification";
import ContentImage from "@/components/ContentImage.vue";
import InputDefault from "@/components/Input/Default.vue";
import NextButton from "@/components/Button/NextButton.vue";

const toast = useToast();

const key = "dbbf965d-677c-49ff-b9da-5131da1505f3";
const QRCodeImage =
  "https://br.qr-code-generator.com/wp-content/themes/qr/new_structure/markets/core_market/generator/dist/generator/assets/images/websiteQRCode_noFrame.png";

const copyKey = async () => {
  try {
    await navigator.clipboard.writeText(key);
    toast.success("Chave PIX copiada com sucesso");
  } catch {
    toast.error("Não consegui copiar a chave PIX :/");
  }
};
</script>

<template>
  <ContentImage
    dont-hide-image
    image-max-height="236"
    :image="QRCodeImage"
    title="PIX"
  >
    <div class="flex flex-col gap-6 justify-between">
      <p class="font-medium mt-6">
        Escaneie o código QR ao lado ou copie a chave PIX abaixo.
      </p>

      <InputDefault class="border-none" disabled :model-value="key" />

      <NextButton @click="copyKey"> Copiar chave pix </NextButton>
    </div>
  </ContentImage>
</template>
